#bg{
	//hide image, will always be covered. Look into way to not load the image to begin with to save bandwidth - done!
	@media #{$information-screen} {
		display:block;
	}
	position: fixed; 
  	width: calc(100% - 180px);
  	height: 100%;
  	z-index:-2;
  	transform: translate3D(180px,0,0);
  	display:none;
  	
  	img {
  		position: absolute; 
	  	min-width: 100%;
	 	min-height: 100%;
	 	max-width: 100%;
	 	height: auto;
	 	image-rendering: optimizeSpeed;
	 	transform: translate3D(0,0,1px);
	}
}

.mobileShiftMenu{
	transform: translateX(-100%) !important;
}

.revealExposeBtn{
	opacity: 1 !important;
	pointer-events: auto !important;
}

#expose_menus{
	@media #{$information-screen} {
		  display:none;
	}
	width: 100%;
	height: 33px;
	position: sticky;
	top: 0px;
	left: 0px;
	z-index: 5;
	background-color: inherit;

	svg{
		#iconBorder{stroke: none;}
		path{fill: $chromeColour;}
	}
	div{
		width: 33px; 
		float: left; 
		height: 100%;
		pointer-events: none;
		opacity: 0.2;
		transition: opacity 0.6s ease;
	}
	.expose_stacks{
		background-color: $greenColour;
	}
	.expose_books{
		background-color: $book_texture;
	}
	.expose_feeds{
		background-color: $titleText;
	}
	.expose_main{
		background-color: $chromeColour;
		opacity: 1;
		pointer-events: auto;
		svg{
			path{fill: $buttonColour;}
		}
	}
}

body, html{
	width: 100%;
    height: $headerHeight;
    font-family: avenir;
    position: relative;
    @media #{$information-phone}{
    	&:after{
		  	content: 'Leave This Place Lest Your Immortal Soul Be Torn Assunder';
			position: absolute;
			display: block;
			z-index: -3;
			width: 70%;
			padding: 20px 10px;
			left: 15%;
			top: 20%;
			text-align: left;
			font-size: 1.5em;
			font-weight: 200;
			font-style: italic;
		  	color: $book_learning;
		  	font-family: deutch;
		  	line-height: 1.6em;
		  	border-top: 4px double $greenColour;
		  	border-bottom: 4px double $greenColour;
		}
    }
    @media #{$information-screen} {
		  min-width: 750px;
	}

    //I prefer subpixel but I can't stand the animation flicker
    -webkit-font-smoothing: antialiased;
    background-color: $linkColour;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: -2;
}

//appends to body
.bariol{font-family: bariol;}
.deutch{font-family: deutch;}
.dtlnobel{font-family: dtlnobel;}

#wallpapers{
	width: 250px;
	height: 200px;
	text-align: center;
	font-weight: 200;
	background-color: $chromeColour;
	border-radius: 5px;
	top: 150px;
	left: 45%;
	position: absolute;
	transform: translate3D(0,0,0);
	transition: 0.6s all ease;
	z-index: -1;

	@media #{$information-phone} {
  		left: 0;
  		top: -20px;
  		position: relative;
  		z-index: 5;
		height: 60px;
		padding: 0 !important;
		button{display:none;}
	}

	p:nth-child(3){
		width: 100%;
		display:block;
		margin: 20px 0 10px;
		font-size: 1em;
		border-top: 1px solid $borderColour;
		border-bottom: 1px solid $borderColour;
		padding: 5px;
		font-weight: 700;
		text-transform: lowercase;
		font-variant: small-caps;
		float: none;
		border-right: none;
	}

	p{
		font-size: 0.8em;
		width: 25%;
		float: left;
		border-right: 1px solid $borderColour;
		cursor: pointer;
		font-weight: 400;
			
		@media #{$information-screen} {
			:hover{
				color: #0ba9d6;
			}
		}
		
		@media #{$information-phone} {
		  font-weight: 500;
		  font-size: 0.6em;
		}
	}
	p:nth-child(4){font-family: avenir; line-height: 1em;}
	p:nth-child(5){font-family: bariol;}
	p:nth-child(6){font-family: deutch;}
	p:nth-child(7){border-right: none; font-family: dtlnobel; line-height: 1em; font-size: 0.7em}

	button{
		width: 60px;
		height: 60px;
		margin: 10px 0;
		svg{width: 60px; height: 60px;}
	}

	span{
		display:block;
		padding-bottom: 0px;
		border-bottom: 1px solid transparent;
		transition: all 0.6s ease;
		@media #{$information-phone} {
	  		display:none;
		}
	}
}

#wallpapers.active{
	width: 70%;
	height: 70%;
	left: 20%;
	padding: 10px;
	overflow: auto;

	p{display:none;}

	button{
		width: 33px;
		height: 33px;
		background-color: $titleText;
		svg{width: 33px; height: 33px; path{fill:$chromeColour;}}
	}

	span{
		padding-bottom: 10px;
		border-bottom: 1px solid $borderColour;
	}

	#wallpaperControl{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		div{
			flex: 1 25%;
			overflow:hidden;
			position: relative;

			&:before{
				content: '';
				display: table;
				padding-top: 100%;
			}

			button{
				position: absolute;
				top: -5px;
				right: 5px;
				background-color: $book_texture;

				&:hover{
					background-color: $book_css;
					@media #{$information-phone} {
				  		background-color: transparent;
					}
				}
			}

			img{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				cursor: pointer;
				min-height: 100%;
				min-width: 100%;
			}
		}
	}
}

#section_feeds, #section_categories, #section_bookmarks{
	width: 250px;
	height: 100%;
	position: fixed;
	left: 180px;
	transform: translate3d(0,0,0);
	overflow-y: scroll;

	@media #{$information-phone} {
  		width: 100%;
		top: 0;
		left: 0;
		z-index: 3;
		-webkit-overflow-scrolling: touch;
		margin-top: 33px;
		transition: transform 0.6s ease;
	}
}

div > header{
	height: $menuHeight;
	background-color: $chromeColour;
	position: sticky;
	top: 0;
	z-index: 1;
	text-align: center;
	padding-top: 5px;

	#revealMenu{
		@media #{$information-phone} {
	  		display: none;
		}
	}

	.show{
		transform: translateY(-5px);
	}

	ul{
		position: absolute;
		padding: 10px;
		display:flex;
		flex-wrap: wrap;
		align-content: flex-start;
		width: 100%;
		transition: 0.6s transform ease-in-out;
		transform: translateY(-370px);

		li{
			flex: 1 33%;
			position: relative;

			a{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding-top: 35%;
				font-size: 0.9em;
				text-transform: lowercase;
				font-variant: small-caps;
				font-weight: 800;
			}

			a.active{
				background-color: black;
				color: $book_learning;
			}

			&:before{
				content : '';
				padding-top: 100%;
				display: table;
			}
		}
	}

	span{
		height: 40px;
		display:inline-block;
		vertical-align: top;
		font-variant: small-caps;
		padding-top: 8px;
		margin-right: 5%;
		@media #{$information-phone} {
	  		margin-right: 2%;
	  		font-size: 0.8em;
		}

	}

	input{
		width: 25%;
		height: 25px;
		margin: 4px 0 0 0;
		vertical-align:top;
		font-size: 0.9em;
		padding-right: 33px;
	}

	button{
		margin-right: 5%;
		@media #{$information-phone} {
	  		margin-right: 2%;
		}
	}

	button.search{
		margin-left: -33px;
		@media #{$information-screen} {
	  		&:hover{
				background-color: transparent;
			}
		}
	}

	button.close{
		margin-right: 0;

		@media #{$information-screen} {
	  		&:hover{background-color: $book_texture;}
		}
	}
}


#section_cat_content, #bookmark_content, #feed_content{
	margin-left: 430px;
	min-height: 100%;

	@media #{$information-phone} {
  		margin: 0;
		position: relative;
		width: 100%;
	}
}

#contentFrame{
	border:none;
	width: 100%;
	min-height: calc(100% - #{$menuHeight});

	@media #{$information-phone} {
  		min-height: calc(100% - 33px);
	}
}

.reveal{
	#mainHeader{transform: translate3d(0,0,0) !important;}
}

//apply style to body for all Stacks transitions/transformations
.stacksSidebar{
	#mainHeader{
		@media #{$information-screen} {
	  		transform: translate3d(-180px, 0, 0);
		}
	}
	#bg{transform: translate3D(0,0,0);}

	#section_feeds, #section_categories, #section_bookmarks{
		left: 0;
	}

	#section_cat_content, #bookmark_content, #feed_content{
		margin-left: 250px;
		@media #{$information-phone} {
	  		margin-left: 0;
	  		z-index: 1;
		}
	}
	
	#section_cat_content{
		display:block;
		@media #{$information-screen} {
	  		min-width: 725px;
		}

		header{
			button{
				margin-right: 2%;
				@media #{$information-phone} {
					margin-right: 0;
				}
			}
			span{
				margin: -5px 2% 0 0;
				padding: 12px 2%;
				height: $menuHeight;
				border-right: 1px solid $borderColour;
				border-left: 1px solid $borderColour;
			}
		}
	}

	#section_categories{
		@media #{$information-screen} {
	  		width: 250px;
		}

		header{
			@media #{$information-screen} {
		  		font-size: 0.8em;
			}
			
			ul{
				width: 100% !important;
				padding: 0;
				
				li a{
					font-weight: 400;
				}
			}
			ul.show{transform: translateY(0);}
			span{
				margin-right: 0;
			}

			input{
				position: absolute;
				width: 100%;
				left: 0;
				margin: 0;
				height: 35px;
				transform: translateY(-350px);
			}

			input.show{
				transform: translateY(40px);
			}

			input.showUl{
				transform: translateY(128px);
			}


			button.search{
				margin-left: 5%;
				@media #{$information-screen} {
			  		&:hover{background-color: $titleText;}
				}
			}
		}

		.stacked{
			@media #{$information-screen} {
		  		flex: 0 100%;
			}
		}
	}
	
}
