.feedCat-1{background-color: $feed_architecture}
.feedCat-2{background-color: $feed_design }
.feedCat-3{background-color: $feed_inspiration}
.feedCat-4{background-color: $feed_type}
.feedCat-5{background-color: $feed_web}
.feedCat-6{background-color: $feed_other}

#section_feeds{
	overflow-x: hidden;

	#feed_control{
		button{margin-right:10%;}
		button:last-child{margin-right: 0;}

		.feedCat-1{
			&:after{
				content: '';
				display:block;
				position: absolute;
				width: 0; 
				height: 0; 
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid $feed_architecture;
				top: -10px;
				left: 10px;
			}
		}

		.feedCat-1.active{
			&:after{border-bottom: 10px solid black;}
		}

		#markFeeds{
			background-color: $chromeColour;
			padding: 15px 0;
			p{
				margin: 0 auto;
				padding: 10px 0;
				border-top: 1px solid $borderColour;
				border-bottom: 1px solid $borderColour;
				width: 100%;

				&:before{
					content: '';
					display:block;
					position: absolute;
					width: 0; 
					height: 0; 
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid $borderColour;
					top: 5px;
					right: 34%;
				}

				&:after{
					content: '';
					display:block;
					position: absolute;
					width: 0; 
					height: 0; 
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid $chromeColour;
					top: 6px;
					right: 34%;
				}
			}

			li{
				flex: 1 100%;
				background-color: $book_inspiration;
				padding: 5px 0;

				&:before{
					padding-top: 0;
				}

				a{
					position: relative;
					padding-top: 0;
				}
			}

			li:nth-child(2){background-color: $book_type;}
			li:nth-child(3){background-color: $book_prog;}
		}
	}

	#feed_list{
		width: 100%;
		hyphens: auto;
	}

	.feedArticle{
		padding: 10px 10px 20px 10px;
		transition: 0.6s opacity ease;

		h3{
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid $borderColour;
		}

		p{
			color: #444;
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid $borderColour;
			line-height: 1.3em;
		}

		.favicon{
			display:inline-block;
			width: 20px;
			height: 20px;
			border-radius: 20px;
			margin-bottom: -3px;
			margin-right: 5px;
		}

		.feedCat{
			text-transform: lowercase;
			font-variant: small-caps;
			color: $book_type;
			display:inline-block;
			width: 38%;
			font-weight: 200;
			overflow:hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.feedDate{
			color: $book_type;
			font-size: 0.8em;
			display:inline-block;
			width: 60%;
			text-align:right;
			font-weight: 200;
			overflow:hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	//Background colours of feed run in batches of eight with additional font colour changes when needed
	.feedArticle:nth-child(8n + 1){background-color:$book_browser; }
	.feedArticle:nth-child(8n + 2){background-color:$book_colour; }
	.feedArticle:nth-child(8n + 4){background-color:$book_js; }
	.feedArticle:nth-child(8n + 5){
		background-color:$book_css; 
		p, h3 > a{color:$book_type;}
	}
	.feedArticle:nth-child(8n + 6){background-color:$book_texture; }
	.feedArticle:nth-child(8n + 7){
		background-color:$book_inspiration; 
		span.feedCat, span.feedDate{color: #999};
	}
	.feedArticle:nth-child(8n + 3), div.feedArticle:nth-child(8n + 8),{
		span.feedCat, span.feedDate{color: #999};
		background-color: $book_learning;
	}

	.markedRead{
		opacity: 0.4;
	}
}

#feed_content{
	@media #{$information-phone} {
  		#content_control{
  			display:none;
  		}
	}

	background-color: $chromeColour;

	input{
		width: 40% !important;
	}

	#content{
		text-align: center;
		padding: 40px;

		@media #{$information-phone} {
			padding: 5px;
			-webkit-overflow-scrolling: touch;
		}

		img{max-width: 100%; margin-bottom: 20px;}
		a{
			color: $titleText;
			@media #{$information-screen}{
				&:hover{color: darken($titleText, 50%);}
			}
		}
		span{
			font-variant: small-caps;
			color: gray;
			margin: 20px 0;
			display:inline-block;
			border-bottom: 1px solid silver;
			padding-bottom: 5px
		}
		h2{margin-bottom: 20px;}
		h3{margin-bottom: 20px;}
		p{
			line-height: 1.4em;text-align: left; margin-bottom: 20px;
			img{display:block; margin: 0 auto;}
		}
		ul{width: 80%; display:inline-block; margin: 20px 0;}
		li{text-align:left; width: 100%;}
		hr{display:none;}
		pre{text-align: left;}
	}

	#edit_cont{
		color: $linkColour;
		text-align:left;
		position: relative;
		padding: 20px 0;

		h4{
			border-bottom: 1px solid $borderColour;
			position: relative;

			&:before{
				content: '';
				display: inline-block;
				height: 20px;
				margin-right: 5px;
				width: 20px;
				overflow: hidden;
				border-radius: 20px;
				margin-bottom: -4px;
				position: relative;
				background:url('../images/buttons/add.svg') no-repeat center;
				background-size: 120%;
			}
		}

		h4.editFeeds{
			&:before{
				background:url('../images/buttons/edit.svg') no-repeat center;
				background-size: 120%;
			}
		}

		#add_feed_form, #edit_feed_form{
			@media #{$information-phone}{
				z-index: 0;
			}
			border: 1px solid $borderColour;
			width: 100%;
			position: relative;
			height: 42px;
			margin: 20px 0;

			.selectList{
				width: 40%;
				float: left;
				height: 40px;
				margin: 0;
				border: none;
				padding-top: 8px
			}

			input{
				width: 40% !important;
				float: left;
				height: 40px;
				margin: 0;
			}

			button{
				width: 20%;
				float: left;
				top: 3px;
				margin: 0 !important;
				margin-top: 3px;

				&:after{
					content: '';
				}
			}
		}
		
		#edit_feed_form{
			opacity: 0.3;
			pointer-events: none;
			transition: opacity 0.6s ease;
		}

		.focusForm{
			opacity: 1 !important;
			pointer-events: auto !important;
		}

		span[class*="feedCat-"]{
			width: 15px;
			height: 15px;
			border-radius: 15px;
			margin: 0 0 -3px 0;
			border: none;
			padding: 0;
		}

		h3{
			text-transform: lowercase;
			font-variant: small-caps;
			margin-right: 5px;
			font-size: 1.1em;
			display:inline;
			line-height: 2em;
			a{
				color: $linkColour;
				padding-bottom: 10px;
				@media #{$information-screen}{
					&:hover{
						border-bottom: 1px solid $borderColour;
					}
				}
			}	
		}
		
		ul{
			display:none;
			margin-top: 20px;
			width: 100%;
			border: 1px solid $borderColour;
			text-align:center;

			li{
				position: relative;
				font-variant: normal;
				width: 100%;
				border-bottom: 1px solid $borderColour;

				span{
					font-variant: normal;
					color: $linkColour;
					border: none;
					padding: 0;
					max-width: 90%;
					hyphens: auto;
					padding: 0 10px;
				}

				button[class^="delete_"], button[class^="edit_"]{
					top: 20px;
					margin-right: 5px;
				}
			}

			li:nth-child(even){
				background-color: $book_learning;
			}
		}
	}
}

.animated{
	animation: 1.5s ease-in-out infinite rssAniBtn alternate;
	svg{
		rect,path, polygon{fill: $chromeColour;}
	}
}


@keyframes rssAniBtn{
	0%{background-color: $book_texture}
	100%{background-color: $greenColour}
}