//avenir
  @font-face {
    font-family: 'Avenir';
    src:  url('../fonts/Avenir/AvenirLTStd-Light.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Avenir';
    src:  url('../fonts/Avenir/AvenirLTStd-LightOblique.otf') format("opentype");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Avenir';
    src:  url('../fonts/Avenir/AvenirLTStd-Roman.otf') format("opentype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Avenir';
    src:  url('../fonts/Avenir/AvenirLTStd-Oblique.otf') format("opentype");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'Avenir';
    src:  url('../fonts/Avenir/AvenirLTStd-Book.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Avenir';
    src:  url('../fonts/Avenir/AvenirLTStd-BookOblique.otf') format("opentype");
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: 'Avenir';
    src:  url('../fonts/Avenir/AvenirLTStd-Medium.otf') format("opentype");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Avenir';
    src:  url('../fonts/Avenir/AvenirLTStd-MediumOblique.otf') format("opentype");
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: 'Avenir';
    src:  url('../fonts/Avenir/AvenirLTStd-Heavy.otf') format("opentype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Avenir';
    src:  url('../fonts/Avenir/AvenirLTStd-HeavyOblique.otf') format("opentype");
    font-weight: 700;
    font-style: italic;
  }

//Bariol
  @font-face {
    font-family: 'Bariol';
    src:  url('../fonts/Bariol/Bariol_Thin.otf') format("opentype");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bariol';
    src: url('../fonts/Bariol/Bariol_Light.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bariol';
    src: url('../fonts/Bariol/Bariol_Regular.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bariol';
    src: url('../fonts/Bariol/Bariol_Regular_Italic.otf') format("opentype");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Bariol';
    src: url('../fonts/Bariol/Bariol_Bold.otf') format("opentype");
    font-weight: 700;
    font-style: normal;
  }

//Deutch
  @font-face {
    font-family: 'Deutch';
    src: url('../fonts/Deutch/DeutchLightSSiLight.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Deutch';
    src: url('../fonts/Deutch/DeutchLightSSiLightItalic.ttf') format("truetype");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Deutch';
    src: url('../fonts/Deutch/DeutchSSi.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Deutch';
    src: url('../fonts/Deutch/DeutchSSiItalic.ttf') format("truetype");
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: 'Deutch';
    src: url('../fonts/Deutch/DeutchMediumSSiMedium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Deutch';
    src: url('../fonts/Deutch/DeutchMediumSSiMediumItalic.ttf') format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'Deutch';
    src: url('../fonts/Deutch/DeutchSSiBold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Deutch';
    src: url('../fonts/Deutch/DeutchSSiBoldItalic.ttf') format("truetype");
    font-weight: 700;
    font-style: italic;
  }

//DTLNobel
  @font-face {
    font-family: 'DTLNobel';
    src: url('../fonts/DTLNobel/DTLNobelT-Light.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'DTLNobel';
    src: url('../fonts/DTLNobel/DTLNobelTLight-Italic.otf') format("opentype");
    font-weight: 300;
    font-style: italic;
  }    
  @font-face {
    font-family: 'DTLNobel';
    src: url('../fonts/DTLNobel/DTLNobelT.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'DTLNobel';
    src: url('../fonts/DTLNobel/DTLNobelT-Italic.otf') format("opentype");
    font-weight: 400;
    font-style: italic;
  }  
  @font-face {
    font-family: 'DTLNobel';
    src: url('../fonts/DTLNobel/DTLNobelT-Condensed.otf') format("opentype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'DTLNobel';
    src: url('../fonts/DTLNobel/DTLNobelT-CondensedBold.otf') format("opentype");
    font-weight: 600;
    font-style: normal;
  }    
  @font-face {
    font-family: 'DTLNobel';
    src: url('../fonts/DTLNobel/DTLNobelT-Bold.otf') format("opentype");
    font-weight: 700;
    font-style: normal;
  }   

