/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

li {
  display: inline-block;
  vertical-align: top; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
  text-decoration: none;
  color: #444;
  transition: color 0.6s ease; }
  @media only screen and (min-width : 31.25em) {
    a:hover {
      color: #c4c4c4; }
 }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0;
  border: none;
  border-top: 3px double silver;
  margin: 0.5em 0;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  white-space: pre\9; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monaco, monospace, monospace;
  font-size: 0.9em;
  margin: 1em 0;
  background-color: #30333D;
  color: #B5B8B9;
  line-height: 1.6em;
  padding-left: 0.5em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
  resize: none;
  width: 100%;
  height: 150px;
  border: none;
  padding: 10px;
  margin-top: -0.3125em; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-Book.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir/AvenirLTStd-Book.woff') format('woff'), url('../fonts/Avenir/AvenirLTStd-Book.ttf') format('truetype'), url('../fonts/Avenir/AvenirLTStd-Book.svg#68ae522795537c9085762656931f5f55') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-BookOblique.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-BookOblique.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir/AvenirLTStd-BookOblique.woff') format('woff'), url('../fonts/Avenir/AvenirLTStd-BookOblique.ttf') format('truetype'), url('../fonts/Avenir/AvenirLTStd-BookOblique.svg#2d92c7089977381e7146422e05fbbf56') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-Heavy.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir/AvenirLTStd-Heavy.woff') format('woff'), url('../fonts/Avenir/AvenirLTStd-Heavy.ttf') format('truetype'), url('../fonts/Avenir/AvenirLTStd-Heavy.svg#a1eb5a5cfcec2ff7c30fe732daf3b2e8') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-HeavyOblique.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-HeavyOblique.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir/AvenirLTStd-HeavyOblique.woff') format('woff'), url('../fonts/Avenir/AvenirLTStd-HeavyOblique.ttf') format('truetype'), url('../fonts/Avenir/AvenirLTStd-HeavyOblique.svg#f41fefacdf302de3efb9b2c9861fc114') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-Light.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir/AvenirLTStd-Light.woff') format('woff'), url('../fonts/Avenir/AvenirLTStd-Light.ttf') format('truetype'), url('../fonts/Avenir/AvenirLTStd-Light.svg#a3894d49b0c62da6d619d8a85ab36753') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-LightOblique.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-LightOblique.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir/AvenirLTStd-LightOblique.woff') format('woff'), url('../fonts/Avenir/AvenirLTStd-LightOblique.ttf') format('truetype'), url('../fonts/Avenir/AvenirLTStd-LightOblique.svg#f6864133f6203c14080d854a2e6ba855') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 300; }

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-Medium.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir/AvenirLTStd-Medium.woff') format('woff'), url('../fonts/Avenir/AvenirLTStd-Medium.ttf') format('truetype'), url('../fonts/Avenir/AvenirLTStd-Medium.svg#ef669aafc9b550b465914779447af056') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-MediumOblique.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-MediumOblique.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir/AvenirLTStd-MediumOblique.woff') format('woff'), url('../fonts/Avenir/AvenirLTStd-MediumOblique.ttf') format('truetype'), url('../fonts/Avenir/AvenirLTStd-MediumOblique.svg#16942b001d1c5a1b77694d27e48bb1ff') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 600; }

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-Oblique.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-Oblique.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir/AvenirLTStd-Oblique.woff') format('woff'), url('../fonts/Avenir/AvenirLTStd-Oblique.ttf') format('truetype'), url('../fonts/Avenir/AvenirLTStd-Oblique.svg#3940793a09c3eddee1217f9201c66bf9') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 500; }

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-Roman.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir/AvenirLTStd-Roman.woff') format('woff'), url('../fonts/Avenir/AvenirLTStd-Roman.ttf') format('truetype'), url('../fonts/Avenir/AvenirLTStd-Roman.svg#1297092b477b7e1dcddfcf3bbb416185') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchLightSSiLight.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchLightSSiLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Deutch/DeutchLightSSiLight.woff') format('woff'), url('../fonts/Deutch/DeutchLightSSiLight.ttf') format('truetype'), url('../fonts/Deutch/DeutchLightSSiLight.svg#d6b41e124d256236b809a8e189214402') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchLightSSiLightItalic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchLightSSiLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Deutch/DeutchLightSSiLightItalic.woff') format('woff'), url('../fonts/Deutch/DeutchLightSSiLightItalic.ttf') format('truetype'), url('../fonts/Deutch/DeutchLightSSiLightItalic.svg#104f7caf5ece0745d6842d6103480ec1') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 300; }

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchMediumSSiMedium.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchMediumSSiMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/Deutch/DeutchMediumSSiMedium.woff') format('woff'), url('../fonts/Deutch/DeutchMediumSSiMedium.ttf') format('truetype'), url('../fonts/Deutch/DeutchMediumSSiMedium.svg#ea1a530456c0f886a7700965071c9dc4') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchMediumSSiMediumItalic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchMediumSSiMediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Deutch/DeutchMediumSSiMediumItalic.woff') format('woff'), url('../fonts/Deutch/DeutchMediumSSiMediumItalic.ttf') format('truetype'), url('../fonts/Deutch/DeutchMediumSSiMediumItalic.svg#4b00f1cb49dbefa7bf5c3390a7223311') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 500; }

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchSSi.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchSSi.eot?#iefix') format('embedded-opentype'), url('../fonts/Deutch/DeutchSSi.woff') format('woff'), url('../fonts/Deutch/DeutchSSi.ttf') format('truetype'), url('../fonts/Deutch/DeutchSSi.svg#07a8feb617024a306a1336be6fe83b9d') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchSSiBold.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchSSiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Deutch/DeutchSSiBold.woff') format('woff'), url('../fonts/Deutch/DeutchSSiBold.ttf') format('truetype'), url('../fonts/Deutch/DeutchSSiBold.svg#33fd721086c81a0a2b8b685a07cc0be3') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchSSiBoldItalic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchSSiBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Deutch/DeutchSSiBoldItalic.woff') format('woff'), url('../fonts/Deutch/DeutchSSiBoldItalic.ttf') format('truetype'), url('../fonts/Deutch/DeutchSSiBoldItalic.svg#bcb1dc24e44c2220392dffea1126d3e0') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchSSiItalic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchSSiItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Deutch/DeutchSSiItalic.woff') format('woff'), url('../fonts/Deutch/DeutchSSiItalic.ttf') format('truetype'), url('../fonts/Deutch/DeutchSSiItalic.svg#6f2c8034f22be3a358f159c320dbbb09') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400; }

#bg {
  position: fixed;
  width: calc(100% - 180px);
  height: 100%;
  z-index: -2;
  transform: translate3D(180px, 0, 0);
  display: none; }
  @media only screen and (min-width : 31.25em) {
    #bg {
      display: block; } }
  #bg img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    height: auto;
    image-rendering: optimizeSpeed;
    transform: translate3D(0, 0, 1px); }

.mobileShiftMenu {
  transform: translateX(-100%) !important; }

.revealExposeBtn {
  opacity: 1 !important;
  pointer-events: auto !important; }

#expose_menus {
  width: 100%;
  height: 33px;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 5;
  background-color: inherit; }
  @media only screen and (min-width : 31.25em) {
    #expose_menus {
      display: none; } }
  #expose_menus div {
    width: 33px;
    float: left;
    height: 100%;
    pointer-events: none;
    opacity: 0.2;
    transition: opacity 0.6s ease; }
  #expose_menus a {
    display: block;
    width: 100%;
    height: 100%; }
  #expose_menus .expose_stacks {
    background: url('../images/buttons/stacks.svg') no-repeat center center;
    background-color: #39B878; }
  #expose_menus .expose_books {
    background: url('../images/buttons/book.svg') no-repeat center center;
    background-color: salmon; }
  #expose_menus .expose_feeds {
    background: url('../images/buttons/rss.svg') no-repeat center center;
    background-color: cornflowerblue; }
  #expose_menus .expose_main {
    opacity: 1;
    pointer-events: auto;
    background: url('../images/buttons/hamburger.svg') no-repeat center center;
    background-color: white; }

body, html {
  width: 100%;
  height: 100%;
  font-family: avenir;
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: #444;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: -2; }
  @media only screen and (max-width : 31.25em) {
    body:after, html:after {
      content: 'This is a staging area. Perhaps return to where you were before? Better stuff that way.';
      position: absolute;
      display: block;
      z-index: -3;
      width: 70%;
      padding: 20px 10px;
      left: 15%;
      top: 20%;
      text-align: left;
      font-size: 1.5em;
      font-weight: 200;
      font-style: italic;
      color: ghostwhite;
      font-family: deutch;
      line-height: 1.6em;
      border-top: 4px double #39B878;
      border-bottom: 4px double #39B878; }
 }
  @media only screen and (min-width : 31.25em) {
    body, html {
      min-width: 750px; } }

.deutch {
  font-family: deutch; }

#wallpapers {
  width: 250px;
  height: 200px;
  text-align: center;
  font-weight: 200;
  background-color: white;
  border-radius: 5px;
  top: 150px;
  left: 45%;
  position: absolute;
  transform: translate3D(0, 0, 0);
  transition: 0.6s all ease;
  z-index: -1; }
  @media only screen and (max-width : 31.25em) {
    #wallpapers {
      left: 0;
      top: -20px;
      position: relative;
      z-index: 5;
      height: 70px;
      padding: 0 !important; }
      #wallpapers button {
        display: none; } }
  #wallpapers p:nth-child(3) {
    width: 100%;
    display: block;
    margin: 20px 0 10px;
    font-size: 1em;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 5px;
    font-weight: 700;
    text-transform: lowercase;
    font-variant: small-caps;
    float: none;
    border-right: none; }
  #wallpapers p {
    font-size: 0.8em;
    width: 25%;
    display: inline-block;
    cursor: pointer;
    font-weight: 400; }
    @media only screen and (min-width : 31.25em) {
      #wallpapers p :hover {
        color: #0ba9d6; }
 }
    @media only screen and (max-width : 31.25em) {
      #wallpapers p {
        font-weight: 500;
        font-size: 0.6em; } }
  #wallpapers p:nth-child(4) {
    font-family: avenir;
    line-height: 1em; }
  #wallpapers p:nth-child(5) {
    font-family: deutch; }
  #wallpapers button {
    width: 60px;
    height: 60px;
    margin: 10px 0; }
  #wallpapers span {
    display: block;
    padding-bottom: 0px;
    border-bottom: 1px solid transparent;
    transition: all 0.6s ease; }
    @media only screen and (max-width : 31.25em) {
      #wallpapers span {
        display: none; } }

#wallpapers.active {
  width: 70%;
  height: 70%;
  left: 20%;
  padding: 10px;
  overflow: auto; }
  #wallpapers.active p {
    display: none; }
  #wallpapers.active button {
    width: 33px;
    height: 33px;
    background-color: cornflowerblue; }
  #wallpapers.active span {
    padding-bottom: 10px;
    border-bottom: 1px solid silver; }
  #wallpapers.active #wallpaperControl {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; }
    #wallpapers.active #wallpaperControl div {
      flex: 1 150px;
      overflow: hidden;
      position: relative; }
      #wallpapers.active #wallpaperControl div button {
        position: absolute;
        top: -5px;
        right: 5px;
        background-color: salmon; }
        #wallpapers.active #wallpaperControl div button:hover {
          background-color: hotpink; }
          @media only screen and (max-width : 31.25em) {
            #wallpapers.active #wallpaperControl div button:hover {
              background-color: transparent; } }
      #wallpapers.active #wallpaperControl div img {
        cursor: pointer;
        width: 100%; }

#section_feeds, #section_categories, #section_bookmarks {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 180px;
  transform: translate3d(0, 0, 0);
  overflow-y: scroll; }
  @media only screen and (max-width : 31.25em) {
    #section_feeds, #section_categories, #section_bookmarks {
      width: 100%;
      top: 0;
      left: 0;
      z-index: 3;
      -webkit-overflow-scrolling: touch;
      margin-top: 33px;
      transition: transform 0.6s ease; } }

div > header {
  height: 45px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  padding-top: 5px; }
  @media only screen and (max-width : 31.25em) {
    div > header #revealMenu {
      display: none; } }
  div > header .show {
    transform: translateY(-5px); }
  div > header ul {
    position: absolute;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    transition: 0.6s transform ease-in-out;
    transform: translateY(-370px); }
    div > header ul li {
      flex: 1 33%;
      position: relative; }
      div > header ul li a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 35%;
        font-size: 0.9em;
        text-transform: lowercase;
        font-variant: small-caps;
        font-weight: 800; }
      div > header ul li a.active {
        background-color: black;
        color: ghostwhite; }
      div > header ul li:before {
        content: '';
        padding-top: 100%;
        display: table; }
  div > header span {
    height: 40px;
    display: inline-block;
    vertical-align: top;
    font-variant: small-caps;
    padding-top: 8px;
    margin-right: 5%; }
    @media only screen and (max-width : 31.25em) {
      div > header span {
        margin-right: 2%;
        font-size: 0.8em; } }
  div > header input {
    width: 25%;
    height: 25px;
    margin: 4px 0 0 0;
    vertical-align: top;
    font-size: 0.9em;
    padding-right: 33px; }
  div > header button {
    margin-right: 5%; }
    @media only screen and (max-width : 31.25em) {
      div > header button {
        margin-right: 2%; } }
  div > header button.search {
    margin-left: -33px; }
    @media only screen and (min-width : 31.25em) {
      div > header button.search:hover {
        background-color: transparent; }
 }
  div > header button.close {
    margin-right: 0; }
    @media only screen and (min-width : 31.25em) {
      div > header button.close:hover {
        background-color: salmon; }
 }

.no_results {
  margin-left: 180px;
  text-align: center; }

#section_cat_content, #bookmark_content, #feed_content {
  margin-left: 430px;
  min-height: 100%; }
  @media only screen and (max-width : 31.25em) {
    #section_cat_content, #bookmark_content, #feed_content {
      margin: 0;
      position: relative;
      width: 100%; } }

#contentFrame {
  border: none;
  width: 100%;
  min-height: calc(100% - 45px); }
  @media only screen and (max-width : 31.25em) {
    #contentFrame {
      min-height: calc(100% - 33px); } }

.reveal #mainHeader {
  transform: translate3d(0, 0, 0) !important; }

@media only screen and (min-width : 31.25em) {
  .stacksSidebar #mainHeader {
    transform: translate3d(-180px, 0, 0); } }
.stacksSidebar #bg {
  transform: translate3D(0, 0, 0); }
.stacksSidebar #section_feeds, .stacksSidebar #section_categories, .stacksSidebar #section_bookmarks {
  left: 0; }
.stacksSidebar #section_cat_content, .stacksSidebar #bookmark_content, .stacksSidebar #feed_content {
  margin-left: 250px; }
  @media only screen and (max-width : 31.25em) {
    .stacksSidebar #section_cat_content, .stacksSidebar #bookmark_content, .stacksSidebar #feed_content {
      margin-left: 0;
      z-index: 1; } }
.stacksSidebar #section_cat_content {
  display: block; }
  @media only screen and (min-width : 31.25em) {
    .stacksSidebar #section_cat_content {
      min-width: 725px; } }
  .stacksSidebar #section_cat_content header button {
    margin-right: 2%; }
    @media only screen and (max-width : 31.25em) {
      .stacksSidebar #section_cat_content header button {
        margin-right: 0; } }
  .stacksSidebar #section_cat_content header button[type="submit"] {
    margin-right: 30%; }
  .stacksSidebar #section_cat_content header span {
    margin: -5px 2% 0 0;
    padding: 12px 2%;
    height: 45px;
    border-right: 1px solid silver;
    border-left: 1px solid silver; }
@media only screen and (min-width : 31.25em) {
  .stacksSidebar #section_categories {
    width: 250px; } }
@media only screen and (min-width : 31.25em) {
  .stacksSidebar #section_categories header {
    font-size: 0.8em; } }
.stacksSidebar #section_categories header ul {
  width: 100% !important;
  padding: 0; }
  .stacksSidebar #section_categories header ul li a {
    font-weight: 400; }
.stacksSidebar #section_categories header ul.show {
  transform: translateY(0); }
.stacksSidebar #section_categories header span {
  margin-right: 0; }
.stacksSidebar #section_categories header input {
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0;
  height: 35px;
  transform: translateY(-350px); }
.stacksSidebar #section_categories header input.show {
  transform: translateY(40px);
  z-index: 5; }
.stacksSidebar #section_categories header input.showUl {
  transform: translateY(128px);
  z-index: 5; }
.stacksSidebar #section_categories header button.search {
  margin-left: 5%; }
  @media only screen and (min-width : 31.25em) {
    .stacksSidebar #section_categories header button.search:hover {
      background-color: cornflowerblue; }
 }
@media only screen and (min-width : 31.25em) {
  .stacksSidebar #section_categories .stacked {
    flex: 0 100%; } }

.feedback {
  text-align: center;
  margin-top: 10px;
  padding: 10px 0;
  color: white;
  font-weight: 600; }

.feedback.error {
  background-color: salmon; }

.feedback.success {
  background-color: #39B878; }

select {
  display: none; }

button:disabled {
  opacity: 0.3; }

button {
  width: 33px;
  height: 33px;
  border-radius: 33px;
  background-color: transparent;
  border: none;
  color: silver;
  position: relative;
  transition: 0.6s all ease;
  transition-property: background-color, opacity; }
  @media only screen and (min-width : 31.25em) {
    button:hover {
      background-color: cornflowerblue; }
 }

.activeButton {
  background-color: cornflowerblue !important; }

.buttonSubmit {
  background-color: #39B878; }

button[class^="delete_"].activeButton {
  background-color: salmon !important;
  color: white; }

button[class^="edit_"].activeButton {
  background-color: darkslategray !important;
  color: white; }

button[class^="delete_"], button[class^="edit_"] {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: absolute;
  right: 0;
  font-size: 0.9em;
  line-height: 0.9em;
  font-weight: 600;
  border: 1px solid;
  border-color: salmon;
  color: salmon;
  text-transform: lowercase;
  font-variant: small-caps;
  top: 12px; }
  @media only screen and (min-width : 31.25em) {
    button[class^="delete_"]:hover, button[class^="edit_"]:hover {
      background-color: salmon !important;
      color: white; }
 }

button[class^="edit_"] {
  right: 20px;
  border-color: darkslategray;
  color: darkslategray; }
  @media only screen and (min-width : 31.25em) {
    button[class^="edit_"]:hover {
      background-color: darkslategray !important;
      color: white; }
 }

input {
  border: none;
  width: 90%;
  height: 35px;
  padding-left: 10px;
  margin: 10px 0;
  font-size: 1rem;
  background-color: gainsboro;
  font-style: italic;
  transition: all 0.6s ease-in-out; }
  input:focus {
    outline: none;
    color: ghostwhite;
    background-color: darkslategray !important; }

input[type^="file"] {
  padding-top: 8px;
  color: gainsboro;
  text-align: center;
  padding-left: 20%; }

form {
  width: 100%;
  background-color: white;
  position: absolute;
  transition: all 0.6s ease-in-out;
  text-align: center;
  z-index: 1; }
  @media only screen and (max-width : 31.25em) {
    form {
      z-index: 6; } }
  form .selectList {
    width: 100%;
    height: 35px;
    display: block;
    border-bottom: 1px solid silver;
    font-style: italic;
    font-size: 1rem;
    font-weight: 600;
    color: cornflowerblue !important;
    text-transform: lowercase;
    font-variant: small-caps;
    margin: 5px 0;
    transition: 0.6s color ease;
    line-height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis; }
    @media only screen and (min-width : 31.25em) {
      form .selectList:hover {
        color: #092049 !important; }
 }
  form button[type="submit"], form button[name^="cancel_"] {
    margin: 0;
    padding: 0;
    font-style: normal; }
    form button[type="submit"]:after, form button[name^="cancel_"]:after {
      position: absolute;
      bottom: -20px;
      width: 100%;
      left: 0;
      text-transform: lowercase;
      font-variant: small-caps;
      font-weight: 600;
      font-size: 0.8rem;
      color: #555555; }
  form button[type="submit"] {
    background: #39B878 url('../images/buttons/submitwhite.svg') no-repeat center center;
    margin-right: 30%; }
  form button[name^="cancel_"] {
    background: salmon url('../images/buttons/cancel.svg') no-repeat center center; }
  form button[type="submit"]:after {
    content: 'submit'; }
  form button[name^="cancel_"]:after {
    content: 'cancel'; }

form[name^='delete'] {
  display: none; }

.headerForm {
  position: absolute;
  width: 180px;
  padding: 0px 0px 40px 0px;
  bottom: 26px;
  left: 0;
  transform: translate3d(-180px, 0, 0); }
  @media only screen and (max-width : 31.25em) {
    .headerForm {
      width: 100%;
      transform: translate3d(-100%, 0, 0); } }
  .headerForm p {
    margin: 0px 0 10px 0;
    font-size: 1.1rem;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 15px 0;
    font-weight: 700;
    text-transform: lowercase;
    font-variant: small-caps;
    color: #444;
    line-height: 0; }

.displayForm {
  transform: translate3d(0, 0, 0) !important;
  display: block !important; }

.selectConvert {
  position: fixed;
  width: 38%;
  bottom: 0;
  left: 180px;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap; }
  @media only screen and (max-width : 31.25em) {
    .selectConvert {
      width: 100%;
      left: 0;
      max-height: 100%; } }
  .selectConvert li {
    flex: 1 25%;
    position: relative;
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
    transition: 0.2s all ease-in-out; }
    .selectConvert li:before {
      content: '';
      display: table;
      padding-top: 100%; }
    @media only screen and (min-width : 31.25em) {
      .selectConvert li:hover {
        background-color: black; }
        .selectConvert li:hover a, .selectConvert li:hover span {
          color: white; }
 }
    .selectConvert li a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 20%;
      text-align: center;
      overflow: hidden;
      padding: 5px;
      padding-top: 25%; }
      @media only screen and (max-width : 31.25em) {
        .selectConvert li a {
          padding: 30% 5px; } }
  .selectConvert li[class^="bookMenu_"] a, .selectConvert li[class^="feedMenu_"] a {
    color: #555555;
    padding-top: 50%;
    font-size: 0.9em;
    font-weight: 600; }
  .selectConvert .Identity {
    color: white; }
    .selectConvert .Identity a {
      color: white; }
  .selectConvert span {
    position: absolute;
    top: 80%;
    bottom: 0;
    right: 20%;
    left: 20%;
    border-top: 1px solid silver;
    text-align: center;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 0.9em; }

.selectConvert.largeList {
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%; }
  @media only screen and (max-width : 31.25em) {
    .selectConvert.largeList {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; } }
  .selectConvert.largeList li {
    flex: 1 10%; }
    @media only screen and (max-width : 31.25em) {
      .selectConvert.largeList li {
        flex: 1 33%; } }
    .selectConvert.largeList li a {
      padding-top: 20%;
      bottom: 20%; }
  .selectConvert.largeList .searchBar {
    width: 100%; }
    .selectConvert.largeList .searchBar input {
      width: 100%;
      height: 45px;
      background-color: white;
      margin: 0;
      border: 1px solid silver; }
    .selectConvert.largeList .searchBar button {
      position: absolute;
      top: 7px;
      right: 10px;
      background: url('../images/buttons/delete.svg') no-repeat center; }
      @media only screen and (min-width : 31.25em) {
        .selectConvert.largeList .searchBar button:hover {
          background: salmon url('../images/buttons/delete.svg') no-repeat center; }
 }

.add_bookmark {
  background: url('../images/buttons/book.svg') no-repeat center center; }

.add_file {
  background: url('../images/buttons/file.svg') no-repeat center center; }

.add_model, .add_file_models {
  background: url('../images/buttons/add.svg') no-repeat center center; }

.bookmark {
  background: url('../images/buttons/bookmark.svg') no-repeat center center; }

.mainMenu {
  background: url('../images/buttons/hamburger.svg') no-repeat center center; }

.search {
  background: url('../images/buttons/search.svg') no-repeat center center; }

.close, .close_window_temp {
  background: url('../images/buttons/delete.svg') no-repeat center center; }

.rss {
  background: url('../images/buttons/rss.svg') no-repeat center center; }

.sortFeeds {
  background: url('../images/buttons/sort.svg') no-repeat center center; }

.editFeedsBtn, .editProjectFiles {
  background: url('../images/buttons/edit.svg') no-repeat center center; }

.markFeeds {
  background: url('../images/buttons/submit.svg') no-repeat center center; }

.move_photo_projects, .move_photo {
  background: url('../images/buttons/move.svg') no-repeat center center; }

.deselect_checks {
  background: url('../images/buttons/checkbox.svg') no-repeat center center; }

.image_crop {
  background: url('../images/buttons/crop.svg') no-repeat center center; }

.file_delete_projects, .picTrash, .file_delete {
  background: url('../images/buttons/trash.svg') no-repeat center center; }

.prevPic {
  background: url('../images/buttons/leftarrow.svg') no-repeat center center; }

.nextPic {
  background: url('../images/buttons/rightarrow.svg') no-repeat center center; }

.fav {
  background: url('../images/buttons/favourite.svg') no-repeat center center; }

.imageFullWidth {
  background: url('../images/buttons/fullWidth.svg') no-repeat center center; }

.imageToFit {
  background: url('../images/buttons/fullheight.svg') no-repeat center center; }

#slideShowButton {
  background: url('../images/buttons/play.svg') no-repeat center center; }

.shiftWindow {
  background: url('../images/buttons/left.svg') no-repeat center center; }

.imageOriginal {
  background: url('../images/buttons/originalsize.svg') no-repeat center center; }

section.login, section.register {
  background-color: white;
  text-align: center;
  width: 50%;
  border-radius: 2px;
  margin: 0 auto; }
  @media only screen and (max-width : 31.25em) {
    section.login, section.register {
      width: 90%; } }
  section.login h1, section.register h1 {
    padding: 10px 0;
    border-bottom: 1px solid silver; }
  section.login h2, section.register h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid silver; }
  section.login form, section.register form {
    position: relative; }
  section.login label, section.register label {
    display: block;
    border-bottom: 1px solid silver; }
  section.login input, section.register input {
    width: 50%; }
  section.login span, section.register span {
    display: inline-block;
    width: 40%; }
  section.login button, section.register button {
    margin: 10px 0 20px 0; }

#mainHeader {
  width: 180px;
  background-color: white;
  text-align: center;
  padding: 10px 0px 20px 0px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transition: transform 0.6s ease; }
  @media only screen and (max-width : 31.25em) {
    #mainHeader {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      margin-top: 33px;
      padding-bottom: 33px;
      -webkit-overflow-scrolling: touch; } }
  #mainHeader div {
    display: block;
    width: 100%;
    margin: 15px 0;
    font-size: 1.3em; }
    @media only screen and (max-width : 31.25em) {
      #mainHeader div {
        width: 100%;
        margin: 0;
        padding: 20px 0; } }
  #mainHeader #rss a:after {
    content: attr(data-feedCount);
    position: absolute;
    font-size: 0.6em;
    font-weight: 400;
    background-color: salmon;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 2px;
    padding: 2px;
    color: ghostwhite; }
  #mainHeader #logout {
    right: 0;
    border-left: 1px solid silver; }
  #mainHeader #tempFiles, #mainHeader #logout {
    width: 50%;
    bottom: 0;
    text-transform: lowercase;
    font-variant: small-caps;
    position: absolute;
    display: block;
    border-top: 1px solid silver;
    padding: 4px 2px 2px 2px;
    height: 30px;
    color: #666;
    background-color: white;
    transition: background 0.6s ease;
    font-size: 1em;
    font-weight: 700; }
    @media only screen and (max-width : 31.25em) {
      #mainHeader #tempFiles, #mainHeader #logout {
        position: relative;
        float: left; } }
    @media only screen and (min-width : 31.25em) {
      #mainHeader #tempFiles:hover, #mainHeader #logout:hover {
        background-color: #3cb878;
        color: white;
        padding-bottom: 20px; }
 }
  #mainHeader #logo {
    display: inline-block;
    position: relative;
    width: 125px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    background: url('../images/logo/design_logo.svg') no-repeat center center;
    background-size: 100%; }
    @media only screen and (max-width : 31.25em) {
      #mainHeader #logo {
        width: 30%; } }
    #mainHeader #logo:before {
      content: "";
      display: table;
      padding-top: 100%; }
  #mainHeader #globalForms {
    margin: 0; }
    @media only screen and (max-width : 31.25em) {
      #mainHeader #globalForms {
        padding: 0; } }
    #mainHeader #globalForms div.models {
      border-right: 1px solid #555555;
      border-left: 1px solid #555555; }
    #mainHeader #globalForms div {
      width: 25%;
      display: inline-block;
      line-height: 0; }
  @media only screen and (max-width : 31.25em) {
    #mainHeader #stack, #mainHeader #bookmarks {
      border-top: 1px solid silver;
      border-bottom: 1px solid silver; }
 }

@keyframes loading_logo {
  0% {
    filter: hue-rotate(0deg) blur(0px); }

  50% {
    filter: hue-rotate(360deg) blur(5px); }

  100% {
    filter: hue-rotate(0deg) blur(0px); } }

.logo_animation {
  animation: loading_logo 4s infinite; }

.bookMenu_1, .feedMenu_5 {
  background: cornflowerblue url(../images/buttons/sites.svg) no-repeat 50% 15%; }

.bookMenu_2 {
  background: hotpink url(../images/buttons/colour.svg) no-repeat 50% 15%; }

.bookMenu_3 {
  background: darkslategray url(../images/buttons/css.svg) no-repeat 50% 15%; }

.bookMenu_4 {
  background: coral url(../images/buttons/picture.svg) no-repeat 50% 15%; }

.bookMenu_5, .feedMenu_3 {
  background: lightgoldenrodyellow url(../images/buttons/inspiration.svg) no-repeat 50% 15%; }

.bookMenu_6, .feedMenu_1 {
  background: #39B878 url(../images/buttons/javascript.svg) no-repeat 50% 15%; }

.bookMenu_7 {
  background: sienna url(../images/buttons/work.svg) no-repeat 50% 15%; }

.bookMenu_8 {
  background: ghostwhite url(../images/buttons/learning.svg) no-repeat 50% 15%; }

.bookMenu_9 {
  background: gainsboro url(../images/buttons/programming.svg) no-repeat 50% 15%; }

.bookMenu_12, .feedMenu_2 {
  background: salmon url(../images/buttons/texture.svg) no-repeat 50% 15%; }

.bookMenu_13, .feedMenu_4 {
  background: mintcream url(../images/buttons/type.svg) no-repeat 50% 15%; }

.bookMenu_14, .feedMenu_6 {
  background: yellow url(../images/buttons/other.svg) no-repeat 50% 15%; }

#section_bookmarks.noScroll {
  overflow-y: hidden; }

#section_bookmarks {
  background-color: mintcream; }
  #section_bookmarks #bookmark_menu {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start; }
    @media only screen and (max-width : 31.25em) {
      #section_bookmarks #bookmark_menu {
        height: 100%; } }
    #section_bookmarks #bookmark_menu div[class^="bookMenu_"] {
      flex: 1 50%;
      overflow: hidden;
      line-height: 0;
      position: relative;
      background-size: 50%; }
      @media only screen and (max-width : 31.25em) {
        #section_bookmarks #bookmark_menu div[class^="bookMenu_"] {
          flex: 1 33%; } }
      #section_bookmarks #bookmark_menu div[class^="bookMenu_"]:before {
        content: "";
        display: table;
        padding-top: 100%; }
      #section_bookmarks #bookmark_menu div[class^="bookMenu_"] a {
        text-transform: lowercase;
        font-variant: small-caps;
        text-align: center;
        line-height: 1em;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 70%;
        color: #555555;
        font-weight: 800;
        transition: 0.6s all ease; }
        @media only screen and (min-width : 31.25em) {
          #section_bookmarks #bookmark_menu div[class^="bookMenu_"] a:hover {
            background-color: black;
            color: ghostwhite; }
 }
      #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] {
        padding: 0 10px;
        display: none;
        position: absolute;
        top: 8%;
        bottom: 2%;
        left: 4%;
        right: 4%;
        background-color: white;
        line-height: 1.3em;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch; }
        @media only screen and (max-width : 31.25em) {
          #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] {
            top: 15%;
            bottom: 5%; } }
        #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li {
          position: relative;
          width: 100%;
          border-bottom: 1px solid silver;
          padding: 10px 0; }
          #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li:before {
            content: '•';
            margin-right: 4px; }
          #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li:nth-child(5n+1):before {
            color: cornflowerblue; }
          #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li:nth-child(5n+2):before {
            color: hotpink; }
          #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li:nth-child(5n+3):before {
            color: darkslategray; }
          #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li:nth-child(5n+4):before {
            color: #39B878; }
          #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li:nth-child(5n):before {
            color: yellow; }
          #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li div {
            width: 75%;
            display: inline-block; }
        #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] a {
          position: relative;
          padding: 0;
          font-variant: normal;
          text-align: left;
          text-transform: none;
          font-size: 1em;
          font-weight: 400;
          color: #444; }
          @media only screen and (min-width : 31.25em) {
            #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] a:hover {
              background-color: transparent;
              color: black; }
 }
    #section_bookmarks #bookmark_menu div[class^="bookMenu_"].activeBook {
      flex: 1 100%;
      order: -1;
      background-position: 5px 4px;
      background-size: 12%; }
      @media only screen and (max-width : 31.25em) {
        #section_bookmarks #bookmark_menu div[class^="bookMenu_"].activeBook {
          height: 90%; } }
      #section_bookmarks #bookmark_menu div[class^="bookMenu_"].activeBook:before {
        padding-top: 215%; }
        @media only screen and (max-width : 31.25em) {
          #section_bookmarks #bookmark_menu div[class^="bookMenu_"].activeBook:before {
            padding-top: 0; } }
      #section_bookmarks #bookmark_menu div[class^="bookMenu_"].activeBook a {
        bottom: 93%;
        padding: 4%;
        font-size: 1.3em; }
      #section_bookmarks #bookmark_menu div[class^="bookMenu_"].activeBook div[id^="section_book_"] {
        display: block; }

#bookmark_content {
  background-color: gainsboro; }
  #bookmark_content #content {
    -webkit-overflow-scrolling: touch; }
  @media only screen and (max-width : 31.25em) {
    #bookmark_content #book_cont_header {
      display: none; } }
  #bookmark_content #book_cont_header input {
    width: 40%; }

.bookmark_remove {
  opacity: 0;
  transform: translateX(-105%);
  transition: 0.6s all ease; }

.feedCat-1 {
  background-color: #39B878; }

.feedCat-2 {
  background-color: salmon; }

.feedCat-3 {
  background-color: lightgoldenrodyellow; }

.feedCat-4 {
  background-color: mintcream; }

.feedCat-5 {
  background-color: cornflowerblue; }

.feedCat-6 {
  background-color: yellow; }

#section_feeds {
  overflow-x: hidden; }
  #section_feeds #feed_control button {
    margin-right: 10%; }
  #section_feeds #feed_control button:last-child {
    margin-right: 0; }
  #section_feeds #feed_control .feedCat-1:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #39B878;
    top: -10px;
    left: 10px; }
  #section_feeds #feed_control .feedCat-1.active:after {
    border-bottom: 10px solid black; }
  #section_feeds #feed_control #markFeeds {
    background-color: white;
    padding: 15px 0; }
    #section_feeds #feed_control #markFeeds p {
      margin: 0 auto;
      padding: 10px 0;
      border-top: 1px solid silver;
      border-bottom: 1px solid silver;
      width: 100%; }
      #section_feeds #feed_control #markFeeds p:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid silver;
        top: 5px;
        right: 34%; }
      #section_feeds #feed_control #markFeeds p:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
        top: 6px;
        right: 34%; }
    #section_feeds #feed_control #markFeeds li {
      flex: 1 100%;
      background-color: lightgoldenrodyellow;
      padding: 5px 0; }
      #section_feeds #feed_control #markFeeds li:before {
        padding-top: 0; }
      #section_feeds #feed_control #markFeeds li a {
        position: relative;
        padding-top: 0; }
    #section_feeds #feed_control #markFeeds li:nth-child(2) {
      background-color: mintcream; }
    #section_feeds #feed_control #markFeeds li:nth-child(3) {
      background-color: gainsboro; }
  #section_feeds #feed_list {
    width: 100%;
    hyphens: auto; }
  #section_feeds .feedArticle {
    padding: 10px 10px 20px 10px;
    transition: 0.6s opacity ease; }
    #section_feeds .feedArticle h3 {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid silver; }
    #section_feeds .feedArticle p {
      color: #444;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid silver;
      line-height: 1.3em; }
    #section_feeds .feedArticle .favicon {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      margin-bottom: -3px;
      margin-right: 5px; }
    #section_feeds .feedArticle .feedCat {
      text-transform: lowercase;
      font-variant: small-caps;
      color: mintcream;
      display: inline-block;
      width: 38%;
      font-weight: 200;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    #section_feeds .feedArticle .feedDate {
      color: mintcream;
      font-size: 0.8em;
      display: inline-block;
      width: 60%;
      text-align: right;
      font-weight: 200;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
  #section_feeds .feedArticle:nth-child(8n+1) {
    background-color: cornflowerblue; }
  #section_feeds .feedArticle:nth-child(8n+2) {
    background-color: hotpink; }
  #section_feeds .feedArticle:nth-child(8n+4) {
    background-color: #39B878; }
  #section_feeds .feedArticle:nth-child(8n+5) {
    background-color: darkslategray; }
    #section_feeds .feedArticle:nth-child(8n+5) p, #section_feeds .feedArticle:nth-child(8n+5) h3 > a {
      color: mintcream; }
  #section_feeds .feedArticle:nth-child(8n+6) {
    background-color: salmon; }
  #section_feeds .feedArticle:nth-child(8n+7) {
    background-color: lightgoldenrodyellow; }
    #section_feeds .feedArticle:nth-child(8n+7) span.feedCat, #section_feeds .feedArticle:nth-child(8n+7) span.feedDate {
      color: #999; }
  #section_feeds .feedArticle:nth-child(8n+3), #section_feeds div.feedArticle:nth-child(8n+8) {
    background-color: ghostwhite; }
    #section_feeds .feedArticle:nth-child(8n+3) span.feedCat, #section_feeds .feedArticle:nth-child(8n+3) span.feedDate, #section_feeds div.feedArticle:nth-child(8n+8) span.feedCat, #section_feeds div.feedArticle:nth-child(8n+8) span.feedDate {
      color: #999; }
  #section_feeds .markedRead {
    opacity: 0.4; }

#feed_content {
  background-color: white; }
  @media only screen and (max-width : 31.25em) {
    #feed_content #content_control {
      display: none; }
 }
  #feed_content input {
    width: 40% !important; }
  #feed_content #content {
    text-align: center;
    padding: 40px; }
    @media only screen and (max-width : 31.25em) {
      #feed_content #content {
        padding: 5px;
        -webkit-overflow-scrolling: touch; } }
    #feed_content #content img {
      max-width: 100%;
      margin-bottom: 20px;
      height: auto; }
    #feed_content #content a {
      color: cornflowerblue; }
      @media only screen and (min-width : 31.25em) {
        #feed_content #content a:hover {
          color: #092049; }
 }
    #feed_content #content span {
      font-variant: small-caps;
      color: gray;
      margin: 20px 0;
      display: inline-block;
      border-bottom: 1px solid silver;
      padding-bottom: 5px; }
    #feed_content #content h2 {
      margin-bottom: 20px; }
    #feed_content #content h3 {
      margin-bottom: 20px; }
    #feed_content #content p {
      line-height: 1.4em;
      text-align: left;
      margin-bottom: 20px; }
      #feed_content #content p img {
        display: block;
        margin: 0 auto; }
    #feed_content #content ul {
      width: 80%;
      display: inline-block;
      margin: 20px 0; }
    #feed_content #content li {
      text-align: left;
      width: 100%; }
    #feed_content #content hr {
      display: none; }
    #feed_content #content pre {
      text-align: left; }
  #feed_content #edit_cont {
    color: #444;
    text-align: left;
    position: relative;
    padding: 20px 0; }
    #feed_content #edit_cont h4 {
      border-bottom: 1px solid silver;
      position: relative; }
      #feed_content #edit_cont h4:before {
        content: '';
        display: inline-block;
        height: 20px;
        margin-right: 5px;
        width: 20px;
        overflow: hidden;
        border-radius: 20px;
        margin-bottom: -4px;
        position: relative;
        background: url('../images/buttons/add.svg') no-repeat center;
        background-size: 120%; }
    #feed_content #edit_cont h4.editFeeds:before {
      background: url('../images/buttons/edit.svg') no-repeat center;
      background-size: 120%; }
    #feed_content #edit_cont #add_feed_form, #feed_content #edit_cont #edit_feed_form {
      border: 1px solid silver;
      width: 100%;
      position: relative;
      height: 42px;
      margin: 20px 0; }
      @media only screen and (max-width : 31.25em) {
        #feed_content #edit_cont #add_feed_form, #feed_content #edit_cont #edit_feed_form {
          z-index: 0; } }
      #feed_content #edit_cont #add_feed_form .selectList, #feed_content #edit_cont #edit_feed_form .selectList {
        width: 40%;
        float: left;
        height: 40px;
        margin: 0;
        border: none;
        padding-top: 8px; }
      #feed_content #edit_cont #add_feed_form input, #feed_content #edit_cont #edit_feed_form input {
        width: 40% !important;
        float: left;
        height: 40px;
        margin: 0; }
      #feed_content #edit_cont #add_feed_form button, #feed_content #edit_cont #edit_feed_form button {
        top: 3px;
        margin: 0 !important;
        margin-top: 3px; }
        #feed_content #edit_cont #add_feed_form button:after, #feed_content #edit_cont #edit_feed_form button:after {
          content: ''; }
    #feed_content #edit_cont #edit_feed_form {
      opacity: 0.3;
      pointer-events: none;
      transition: opacity 0.6s ease; }
    #feed_content #edit_cont .focusForm {
      opacity: 1 !important;
      pointer-events: auto !important; }
    #feed_content #edit_cont span[class*="feedCat-"] {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      margin: 0 0 -3px 0;
      border: none;
      padding: 0; }
    #feed_content #edit_cont h3 {
      text-transform: lowercase;
      font-variant: small-caps;
      margin-right: 5px;
      font-size: 1.1em;
      display: inline;
      line-height: 2em; }
      #feed_content #edit_cont h3 a {
        color: #444;
        padding-bottom: 10px; }
        @media only screen and (min-width : 31.25em) {
          #feed_content #edit_cont h3 a:hover {
            border-bottom: 1px solid silver; }
 }
    #feed_content #edit_cont ul {
      display: none;
      margin-top: 20px;
      width: 100%;
      border: 1px solid silver;
      text-align: center; }
      #feed_content #edit_cont ul li {
        position: relative;
        font-variant: normal;
        width: 100%;
        border-bottom: 1px solid silver; }
        #feed_content #edit_cont ul li span {
          font-variant: normal;
          color: #444;
          border: none;
          padding: 0;
          max-width: 90%;
          hyphens: auto;
          padding: 0 10px; }
        #feed_content #edit_cont ul li button[class^="delete_"], #feed_content #edit_cont ul li button[class^="edit_"] {
          top: 20px;
          margin-right: 5px; }
      #feed_content #edit_cont ul li:nth-child(even) {
        background-color: ghostwhite; }

.animated {
  animation: 1.5s ease-in-out infinite rssAniBtn alternate; }

@keyframes rssAniBtn {
  0% {
    background-color: salmon; }

  100% {
    background-color: #39B878; } }

.Art {
  background-color: #39B878; }

.Animals {
  background-color: hotpink; }

.Identity {
  background-color: darkslategray; }

.Design {
  background-color: coral; }

.Packaging {
  background-color: salmon; }

.People {
  background-color: lightgoldenrodyellow; }

.Places {
  background-color: ghostwhite; }

.Sites {
  background-color: cornflowerblue; }

.Things {
  background-color: gainsboro; }

.Type {
  background-color: mintcream; }

#section_categories {
  text-align: center;
  width: calc(100% - 180px); }
  @media only screen and (max-width : 31.25em) {
    #section_categories {
      width: 100%; } }
  #section_categories #stacks_control {
    z-index: 2; }
    #section_categories #stacks_control ul {
      width: 45%;
      z-index: 5; }
      @media only screen and (max-width : 31.25em) {
        #section_categories #stacks_control ul {
          width: 90%; } }
      #section_categories #stacks_control ul li {
        flex: 1 20%; }
        #section_categories #stacks_control ul li a {
          padding-top: 40%; }
      #section_categories #stacks_control ul .Identity a {
        color: ghostwhite; }
      #section_categories #stacks_control ul .Design:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid coral;
        top: -10px;
        left: 35%; }
      #section_categories #stacks_control ul .Design.active:after {
        border-bottom: 10px solid black;
        z-index: 10; }
  #section_categories #stacksScrollContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; }
  #section_categories .stacked {
    flex: 1 200px;
    position: relative; }
    @media only screen and (max-width : 31.25em) {
      #section_categories .stacked {
        flex: 1 50%; } }
    #section_categories .stacked:before {
      content: '';
      display: table;
      padding-top: 100%; }
    #section_categories .stacked img {
      width: 100%;
      margin-top: -10%;
      min-height: 115%; }
    #section_categories .stacked a:first-child {
      display: block;
      top: 0%;
      left: 0%;
      right: 0%;
      position: absolute;
      bottom: 20%;
      overflow: hidden;
      z-index: 1; }
    #section_categories .stacked a:nth-child(2) {
      position: absolute;
      bottom: 0%;
      top: 80%;
      left: 3%;
      right: 20%;
      color: #444; }
      @media only screen and (min-width : 31.25em) {
        #section_categories .stacked a:nth-child(2):hover h3 {
          border-bottom: 1px solid #444; }
 }
      #section_categories .stacked a:nth-child(2) h3 {
        font-weight: 400;
        font-size: 1em;
        padding: 8% 0 3% 0%;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid transparent;
        transition: 0.6s border ease; }
        @media only screen and (max-width : 31.25em) {
          #section_categories .stacked a:nth-child(2) h3 {
            font-size: 0.9em;
            padding: 10px 0; } }
    #section_categories .stacked button[class^="delete_"], #section_categories .stacked button[class^="edit_"] {
      top: 86%;
      right: 2%;
      background-color: white; }
    #section_categories .stacked button[class^="edit_"] {
      right: 12%; }
    #section_categories .stacked form.edit_model {
      position: absolute;
      z-index: 10;
      top: -10px;
      height: 100%;
      background-color: white; }
      #section_categories .stacked form.edit_model input {
        width: 80%; }
  #section_categories .stacked.Identity a {
    color: white; }

#section_cat_content {
  display: none;
  background-color: #444; }
  #section_cat_content header {
    z-index: 20; }
    @media only screen and (max-width : 31.25em) {
      #section_cat_content header {
        top: 33px; }
        #section_cat_content header .add_file_models, #section_cat_content header .close, #section_cat_content header span {
          display: none; } }
    #section_cat_content header form {
      width: 25%;
      padding-bottom: 20px;
      left: 16%;
      transform: translateY(-200px); }
      #section_cat_content header form input {
        height: 40px;
        margin: 10px;
        padding-left: 28%;
        width: 90%; }
      #section_cat_content header form:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
        top: -10px;
        left: 45%; }
    #section_cat_content header #move_photo_projects {
      left: 56%; }
      @media only screen and (max-width : 31.25em) {
        #section_cat_content header #move_photo_projects {
          width: 50%;
          left: 30%; } }
    #section_cat_content header form.show {
      transform: translateY(15px); }

div[id*="model_"] {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0.4%; }
  div[id*="model_"] .noImgs {
    font-weight: 200;
    background-color: ghostwhite;
    border-radius: 2px;
    padding: 3em 1em; }
    div[id*="model_"] .noImgs:after {
      content: url('../images/buttons/other.svg');
      margin-top: 1em;
      display: block; }
  div[id*="model_"] .mdExpand.mdExpand.mdExpand.mdExpand {
    flex: 1 100%;
    height: 20em; }
    div[id*="model_"] .mdExpand.mdExpand.mdExpand.mdExpand article {
      max-height: 17em; }
    div[id*="model_"] .mdExpand.mdExpand.mdExpand.mdExpand textarea {
      height: 15em; }
  div[id*="model_"] .markdown.markdown {
    background-color: ghostwhite;
    border-radius: 2px;
    flex: 1 18.75em;
    min-height: 12.5em; }
    div[id*="model_"] .markdown.markdown .md_expand, div[id*="model_"] .markdown.markdown .md_syntax {
      position: absolute;
      right: 0;
      margin: 1px;
      border-left: 1px solid silver;
      border-radius: 0; }
    div[id*="model_"] .markdown.markdown .md_expand {
      right: 35px;
      background: url("../images/buttons/fullWidth.svg") no-repeat center center; }
    div[id*="model_"] .markdown.markdown .md_syntax > span {
      border: 1px solid #555555;
      border-radius: 20px;
      display: inline-block;
      width: 20px;
      height: 20px;
      padding: 1px;
      color: #555555;
      font-weight: 700;
      font-size: 0.9em; }
    div[id*="model_"] .markdown.markdown .md_syntax.active > span {
      background-color: white; }
    div[id*="model_"] .markdown.markdown .md_cancel, div[id*="model_"] .markdown.markdown .md_submit {
      width: 49%;
      border-radius: 0;
      color: #555555; }
    div[id*="model_"] .markdown.markdown .md_cancel {
      border-right: 1px solid silver; }
    div[id*="model_"] .markdown.markdown .md_title {
      padding: 0.3125em 4.0625em 0.3125em 0.3125em;
      margin-bottom: 0.3125em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      min-height: 2.125em; }
    div[id*="model_"] .markdown.markdown #noteedit {
      background-color: transparent;
      position: relative;
      min-height: 9.375em; }
  div[id*="model_"] div[class^="model"] {
    flex: 1 9.375em;
    margin: 0.3125em;
    position: relative;
    text-align: center; }
    @media only screen and (max-width : 31.25em) {
      div[id*="model_"] div[class^="model"] {
        flex: 1 50%; } }
    div[id*="model_"] div[class^="model"] a {
      overflow: hidden;
      display: block;
      border-radius: 2px;
      max-height: 12.5em; }
      div[id*="model_"] div[class^="model"] a:after {
        content: '';
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        opacity: 0;
        background-color: transparent;
        transition: all 0.6s ease;
        transition-property: background, opacity; }

#media {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  background-color: #444;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  transition: transform 0.6s ease; }
  #media #mediaControlBar .slideShowOn {
    background-color: #39B878; }
  @media only screen and (max-width : 31.25em) {
    #media #mediaControlBar .mediaClose {
      display: inline-block; } }
  #media #mediaControlBar div {
    display: inline-block;
    height: 40px;
    border-left: 1px solid silver;
    vertical-align: top;
    padding-left: 1%;
    min-width: 18.75em; }
    @media only screen and (max-width : 31.25em) {
      #media #mediaControlBar div {
        min-width: 0;
        padding-left: 0; } }
  #media #mediaControlBar .shiftWindow {
    margin-left: 5px;
    transform: rotate(180deg);
    transition: transform 0.6s ease;
    float: left; }
    @media only screen and (max-width : 31.25em) {
      #media #mediaControlBar .shiftWindow {
        display: none; } }
  #media #mediaControlBar .shiftWindow.flip {
    transform: rotate(0deg); }
  #media .holder {
    height: calc(100% - 45px);
    width: 100%;
    display: block;
    text-align: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transform: translate3D(0, 0, 0); }
    #media .holder img {
      min-height: 100%;
      max-height: 100%;
      display: none; }
    #media .holder img.fullWidth {
      height: auto;
      width: 100%;
      max-height: none;
      max-width: none;
      min-height: 0%; }
    #media .holder img.original {
      height: auto;
      width: auto;
      max-height: none;
      max-width: none;
      min-height: 0%; }
    #media .holder video {
      display: none;
      margin-top: 15px;
      border-radius: 2px;
      background-color: ghostwhite; }
      @media only screen and (max-width : 31.25em) {
        #media .holder video {
          width: 300px;
          height: 150px; } }

#media.hide {
  transform: translateX(95%); }

.add_new_project_guide, .add_images_guide {
  width: 50%;
  float: left;
  padding: 0.625em 0.3125em; }
  .add_new_project_guide .noteTxt.noteTxt.noteTxt, .add_images_guide .noteTxt.noteTxt.noteTxt {
    max-height: none;
    background-color: white;
    border-radius: 2px; }
    @media only screen and (max-width : 31.25em) {
      .add_new_project_guide .noteTxt.noteTxt.noteTxt, .add_images_guide .noteTxt.noteTxt.noteTxt {
        width: 100%; } }
    .add_new_project_guide .noteTxt.noteTxt.noteTxt p:first-child, .add_images_guide .noteTxt.noteTxt.noteTxt p:first-child {
      text-align: center;
      border-bottom: medium double silver; }
    .add_new_project_guide .noteTxt.noteTxt.noteTxt img, .add_images_guide .noteTxt.noteTxt.noteTxt img {
      border: none;
      border-bottom: medium double silver; }
    .add_new_project_guide .noteTxt.noteTxt.noteTxt .imgOverlay, .add_images_guide .noteTxt.noteTxt.noteTxt .imgOverlay {
      position: absolute;
      top: 0;
      left: 0;
      display: none; }
    .add_new_project_guide .noteTxt.noteTxt.noteTxt div, .add_images_guide .noteTxt.noteTxt.noteTxt div {
      position: relative; }

article.noteTxt.noteTxt.noteTxt {
  padding: 0.5em;
  overflow: auto;
  max-height: 10.3125em;
  text-align: left; }
  article.noteTxt.noteTxt.noteTxt a {
    display: inline;
    border-radius: 0;
    max-height: 0;
    border-bottom: 1px dashed silver;
    color: dodgerblue; }
    article.noteTxt.noteTxt.noteTxt a:after {
      content: none; }
  article.noteTxt.noteTxt.noteTxt p, article.noteTxt.noteTxt.noteTxt h1, article.noteTxt.noteTxt.noteTxt h2, article.noteTxt.noteTxt.noteTxt h3, article.noteTxt.noteTxt.noteTxt h4, article.noteTxt.noteTxt.noteTxt h5, article.noteTxt.noteTxt.noteTxt h6 {
    line-height: 1.5em;
    margin-bottom: 1em; }
  article.noteTxt.noteTxt.noteTxt ul, article.noteTxt.noteTxt.noteTxt ol {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px; }
  article.noteTxt.noteTxt.noteTxt ol {
    counter-reset: listNumbering; }
  article.noteTxt.noteTxt.noteTxt ol > li {
    counter-increment: listNumbering; }
  article.noteTxt.noteTxt.noteTxt ol > li:before, article.noteTxt.noteTxt.noteTxt ul > li:before {
    display: block;
    width: 1.5em;
    height: 1.5em;
    color: #2B2B2B;
    left: -2.5em;
    content: counter(listNumbering, decimal-leading-zero);
    position: absolute;
    font-size: 0.5em;
    border-radius: 1.5em;
    text-align: center;
    line-height: 1.7em;
    font-weight: 600; }
  article.noteTxt.noteTxt.noteTxt ol > li:before {
    border: 1px solid #2B2B2B; }
  article.noteTxt.noteTxt.noteTxt li > ol > li:before {
    background-color: #2B2B2B;
    color: white; }
  article.noteTxt.noteTxt.noteTxt li > ul > li:before {
    background-color: darkslategray; }
  article.noteTxt.noteTxt.noteTxt ul > li:before {
    background-color: #39B878;
    content: ''; }
  article.noteTxt.noteTxt.noteTxt li {
    display: block;
    margin-bottom: 0.3em;
    position: relative; }
  article.noteTxt.noteTxt.noteTxt img {
    max-width: 100%;
    border: 0.3125em solid white;
    height: auto; }

#noteSyntax {
  position: fixed;
  top: 45px;
  left: 0;
  z-index: 10;
  background-color: #D8D8D8;
  width: 15.625em; }
  #noteSyntax .noteTxt {
    max-height: 25em; }

#loading_and_thumbs {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8); }
  #loading_and_thumbs #shallNotPass {
    display: none;
    width: 20%;
    height: 140px;
    position: absolute;
    left: 40%;
    text-align: center;
    top: 150px;
    border-radius: 2px;
    overflow: hidden;
    background-color: ghostwhite;
    transition: 0.3s background-color ease; }
    @media only screen and (max-width : 31.25em) {
      #loading_and_thumbs #shallNotPass {
        width: 50%;
        left: 25%; } }
    #loading_and_thumbs #shallNotPass p {
      margin: 20px 0; }
    #loading_and_thumbs #shallNotPass .progress-button {
      position: relative;
      display: inline-block;
      text-align: center;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: 5px solid gainsboro;
      background-color: ghostwhite; }
      #loading_and_thumbs #shallNotPass .progress-button svg {
        position: absolute;
        top: -5px;
        transform: translateX(-50%);
        pointer-events: none;
        stroke-width: 5; }
      #loading_and_thumbs #shallNotPass .progress-button .progress-circle path {
        animation-play-state: paused;
        animation: progress 3s ease-in-out infinite; }
      #loading_and_thumbs #shallNotPass .progress-button .cross, #loading_and_thumbs #shallNotPass .progress-button .checkmark {
        transition: transform 0.3s ease;
        stroke: salmon;
        transform: translateX(-50%) scale(0); }
      #loading_and_thumbs #shallNotPass .progress-button .checkmark {
        stroke: #39B878; }
  #loading_and_thumbs #shallNotPass.loading .progress-button .progress-circle path {
    animation-play-state: running; }
  #loading_and_thumbs #shallNotPass.success {
    background-color: #39B878; }
    #loading_and_thumbs #shallNotPass.success .progress-button {
      border: 5px solid transparent; }
      #loading_and_thumbs #shallNotPass.success .progress-button .progress-circle {
        display: none; }
      #loading_and_thumbs #shallNotPass.success .progress-button .checkmark {
        transform: translateX(-50%) scale(0.4); }
  #loading_and_thumbs #shallNotPass.error {
    background-color: salmon; }
    #loading_and_thumbs #shallNotPass.error .progress-button {
      border: 5px solid transparent; }
      #loading_and_thumbs #shallNotPass.error .progress-button .progress-circle {
        display: none; }
      #loading_and_thumbs #shallNotPass.error .progress-button .cross {
        transform: translateX(-50%) scale(0.4); }
  #loading_and_thumbs #thumbs {
    height: 100%;
    display: none; }

#crop_container {
  display: table;
  height: 85%;
  width: 85%;
  border-radius: 2px;
  background-color: white;
  overflow: hidden;
  margin: 5% 0 0 10%; }
  @media only screen and (max-width : 31.25em) {
    #crop_container {
      height: 100%;
      width: 100%;
      border-radius: 0;
      margin: 0; } }
  #crop_container h4 {
    width: 100%;
    height: 33px;
    text-align: center;
    padding: 10px 0;
    font-weight: 200;
    position: relative; }
    @media only screen and (max-width : 31.25em) {
      #crop_container h4 {
        height: auto; } }
  #crop_container .thumbnail_area {
    opacity: 1;
    transition: opacity 0.6s ease;
    display: table-cell;
    width: 40%;
    vertical-align: top; }
    @media only screen and (max-width : 31.25em) {
      #crop_container .thumbnail_area {
        width: 30%; } }
    #crop_container .thumbnail_area ul {
      width: calc(100% + 1px);
      height: 100%;
      margin-left: -1px;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-wrap: wrap;
      padding: 0 1.5px;
      background-color: #444;
      align-content: flex-start; }
      #crop_container .thumbnail_area ul li {
        flex: 1 33%;
        position: relative;
        border: 3px solid transparent; }
        @media only screen and (max-width : 31.25em) {
          #crop_container .thumbnail_area ul li {
            flex: 1 100%; } }
        #crop_container .thumbnail_area ul li:before {
          content: '';
          display: table;
          padding-top: 100%; }
        #crop_container .thumbnail_area ul li a {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          overflow: hidden; }
          #crop_container .thumbnail_area ul li a img {
            min-width: 100%;
            min-height: 100%; }
  #crop_container .dim {
    opacity: 0.6 !important;
    pointer-events: none; }
  #crop_container .main_crop_area {
    width: 60%;
    height: 100%;
    border-left: 1px solid silver;
    display: table-cell;
    text-align: center;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative; }
    @media only screen and (max-width : 31.25em) {
      #crop_container .main_crop_area {
        width: 70%; } }
    #crop_container .main_crop_area button {
      position: absolute;
      display: none;
      width: 50%;
      border-radius: 0;
      z-index: 500;
      background-color: white;
      text-transform: uppercase;
      color: cornflowerblue;
      top: 0;
      left: 0;
      font-size: 0.8em; }
      @media only screen and (max-width : 31.25em) {
        #crop_container .main_crop_area button:hover {
          background-color: black; }
 }
    #crop_container .main_crop_area button#submit_crop {
      left: 50%;
      border-left: 1px solid silver; }

#crop_comparrison {
  width: 50%;
  position: fixed;
  top: 15%;
  left: 25%;
  border-radius: 2px;
  background-color: white;
  display: none; }
  @media only screen and (max-width : 31.25em) {
    #crop_comparrison {
      width: 100%;
      top: 10%;
      left: 0;
      border-radius: 0;
      border-top: 5px solid black;
      border-bottom: 5px solid black; } }
  #crop_comparrison div {
    width: 50%;
    text-align: center;
    float: left; }
    @media only screen and (max-width : 31.25em) {
      #crop_comparrison div img {
        width: 100%; }
 }
  #crop_comparrison h4 {
    margin-bottom: 10px; }
  #crop_comparrison #confirm_thumb, #crop_comparrison #cancel_thumb {
    width: 50%;
    float: left;
    border-radius: 0;
    text-transform: uppercase;
    color: cornflowerblue;
    font-size: 0.8em;
    margin-top: 20px;
    border-top: 1px solid silver; }
    @media only screen and (min-width : 31.25em) {
      #crop_comparrison #confirm_thumb:hover, #crop_comparrison #cancel_thumb:hover {
        background-color: black; }
 }
  #crop_comparrison #cancel_thumb {
    border-right: 1px solid silver; }

#close_crop {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 50;
  background: url('../images/buttons/delete.svg') no-repeat center center;
  background-color: #f26d7d; }

#videoThumbnailselect {
  display: none;
  text-align: center;
  width: 80%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 2px;
  margin-top: 30px;
  text-align: center; }
  @media only screen and (max-width : 31.25em) {
    #videoThumbnailselect {
      width: 100%; } }
  #videoThumbnailselect #selectVidThumb {
    display: block;
    width: 100%;
    background-color: ghostwhite;
    height: 45px;
    padding: 12px 0;
    cursor: pointer;
    transition: background-color 0.6s ease; }
    @media only screen and (min-width : 31.25em) {
      #videoThumbnailselect #selectVidThumb:hover {
        background-color: #39B878;
        color: ghostwhite; }
 }
  #videoThumbnailselect:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  #videoThumbnailselect div {
    width: 20%;
    overflow: hidden;
    float: left;
    position: relative; }
    @media only screen and (max-width : 31.25em) {
      #videoThumbnailselect div {
        width: 33.33%; } }
    #videoThumbnailselect div:before {
      content: '';
      display: table;
      padding-top: 100%; }
    #videoThumbnailselect div a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      #videoThumbnailselect div a:after {
        content: '';
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background-color: transparent;
        transition: background-color 0.6s ease; }
      #videoThumbnailselect div a img {
        min-height: 100%;
        max-width: 120%; }
    #videoThumbnailselect div .activeTemp:after {
      background-color: rgba(60, 184, 120, 0.65);
      z-index: 10; }

@keyframes progress {
  from {
    stroke-dashoffset: 1000; }

  to {
    stroke-dashoffset: 700; } }

.activeTemp:after {
  background-color: #39B878 !important;
  opacity: 0.8 !important; }

#temp_files {
  width: calc(100% - 180px);
  height: 100%;
  overflow: hidden;
  margin-left: 180px; }
  @media only screen and (max-width : 31.25em) {
    #temp_files {
      width: 100%;
      margin: 0;
      z-index: 10;
      position: fixed;
      top: 0; } }
  #temp_files #tempFilesContainer {
    display: flex;
    width: 100;
    height: 100%; }
    @media only screen and (max-width : 31.25em) {
      #temp_files #tempFilesContainer {
        flex-direction: column; } }
  #temp_files #file_list {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    transform: translate3D(0, 0, 0);
    align-content: flex-start; }
    #temp_files #file_list span {
      background-color: salmon;
      width: 100%;
      height: 100%;
      display: block;
      padding: 10px;
      line-height: 1.4em;
      font-weight: 600;
      color: ghostwhite; }
    #temp_files #file_list div {
      flex: 1; }
    #temp_files #file_list div span {
      font-weight: 800;
      font-size: 3em;
      padding: 20% 0;
      text-align: center; }
    #temp_files #file_list li {
      position: relative;
      line-height: 0;
      flex: 1 33%; }
      @media only screen and (max-width : 31.25em) {
        #temp_files #file_list li {
          flex: 1 25%; } }
      #temp_files #file_list li:before {
        content: "";
        display: block;
        padding-top: 100%;
        /* initial ratio of 1:1*/ }
      #temp_files #file_list li a {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        overflow: hidden; }
        #temp_files #file_list li a:after {
          content: '';
          display: block;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          position: absolute;
          opacity: 0;
          background-color: transparent;
          transition: all 0.6s ease;
          transition-property: background, opacity; }
        #temp_files #file_list li a img {
          width: 100%;
          min-height: 125%; }
      #temp_files #file_list li:nth-child(5n+2) > a > span {
        background-color: cornflowerblue; }
      #temp_files #file_list li:nth-child(5n+3) > a > span {
        background-color: hotpink; }
      #temp_files #file_list li:nth-child(5n+4) > a > span {
        background-color: darkslategray; }
      #temp_files #file_list li:nth-child(5n+5) > a > span {
        background-color: sienna; }
  #temp_files #display_panel {
    flex: 3;
    background-color: ghostwhite;
    overflow-y: scroll; }
    @media only screen and (max-width : 31.25em) {
      #temp_files #display_panel {
        flex: 5;
        border-top: 5px solid black; } }
    #temp_files #display_panel img {
      width: 100%; }
    #temp_files #display_panel #tempMessageCont {
      text-align: center; }
      #temp_files #display_panel #tempMessageCont div {
        background: url('../images/buttons/stacks.svg') no-repeat center center;
        background-size: 50%;
        height: 250px;
        margin-top: 100px; }
        @media only screen and (max-width : 31.25em) {
          #temp_files #display_panel #tempMessageCont div {
            height: 150px;
            margin-top: 0; } }
      #temp_files #display_panel #tempMessageCont p {
        font-weight: 600;
        font-size: 1.2em;
        color: #444;
        display: inline;
        padding-top: 15px;
        border-top: 1px solid silver; }
        @media only screen and (max-width : 31.25em) {
          #temp_files #display_panel #tempMessageCont p {
            font-size: 1em; } }
  #temp_files #dir_list {
    text-align: right;
    height: 45px;
    background-color: white; }
    #temp_files #dir_list li {
      width: 45px;
      height: 45px;
      position: relative;
      line-height: 0; }
      @media only screen and (max-width : 31.25em) {
        #temp_files #dir_list li {
          width: 40px; } }
      #temp_files #dir_list li a {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        overflow: hidden;
        font-size: 0.7em;
        font-weight: 600;
        color: #666;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 2px; }
        @media only screen and (max-width : 31.25em) {
          #temp_files #dir_list li a {
            margin-top: -7px;
            font-size: 0.6em; } }
        @media only screen and (min-width : 31.25em) {
          #temp_files #dir_list li a:hover {
            color: white;
            background-color: #39B878; }
            #temp_files #dir_list li a:hover svg path {
              fill: white; }
 }
    #temp_files #dir_list .selectListContainer {
      height: 45px;
      position: relative;
      display: inline-block;
      text-align: right;
      padding: 12px 20px 0 0;
      border-right: 1px solid silver;
      overflow: hidden;
      min-width: 160px; }
      #temp_files #dir_list .selectListContainer .selectList {
        text-transform: lowercase;
        font-variant: small-caps;
        font-weight: 700;
        font-style: italic;
        font-size: 1em;
        color: cornflowerblue;
        cursor: pointer; }
        @media only screen and (min-width : 31.25em) {
          #temp_files #dir_list .selectListContainer .selectList:hover {
            color: #065c75; }
 }
    #temp_files #dir_list li:nth-last-child(1) button, #temp_files #dir_list li:nth-last-child(2) button, #temp_files #dir_list li:nth-last-child(3) button {
      border-radius: 0;
      width: 45px;
      height: 45px; }
      @media only screen and (max-width : 31.25em) {
        #temp_files #dir_list li:nth-last-child(1) button, #temp_files #dir_list li:nth-last-child(2) button, #temp_files #dir_list li:nth-last-child(3) button {
          width: 40px; } }
    @media only screen and (min-width : 31.25em) {
      #temp_files #dir_list li:nth-last-child(1) button:hover {
        background-color: salmon; }
 }

/* jquery.Jcrop.css v0.9.12 - MIT License */
/*
  The outer-most container in a typical Jcrop instance
  If you are having difficulty with formatting related to styles
  on a parent element, place any fixes here or in a like selector

  You can also style this element if you want to add a border, etc
  A better method for styling can be seen below with .jcrop-light
  (Add a class to the holder and style elements for that extended class)
*/
.jcrop-holder {
  margin-top: 33px;
  direction: ltr;
  text-align: left;
  /* IE10 touch compatibility */
  -ms-touch-action: none; }

/* Selection Border */
.jcrop-vline, .jcrop-hline {
  background: #ffffff url("Jcrop.gif");
  font-size: 0;
  position: absolute; }

.jcrop-vline {
  height: 100%;
  width: 1px !important; }

.jcrop-vline.right {
  right: 0; }

.jcrop-hline {
  height: 1px !important;
  width: 100%; }

.jcrop-hline.bottom {
  bottom: 0; }

/* Invisible click targets */
.jcrop-tracker {
  height: 100%;
  width: 100%;
  /* "turn off" link highlight */
  -webkit-tap-highlight-color: transparent;
  /* disable callout, image save panel */
  -webkit-touch-callout: none;
  /* disable cut copy paste */
  -webkit-user-select: none; }

/* Selection Handles */
.jcrop-handle {
  background-color: #333333;
  border: 1px #eeeeee solid;
  width: 7px;
  height: 7px;
  font-size: 1px; }

.jcrop-handle.ord-n {
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  top: 0; }

.jcrop-handle.ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -4px; }

.jcrop-handle.ord-e {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 50%; }

.jcrop-handle.ord-w {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 50%; }

.jcrop-handle.ord-nw {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 0; }

.jcrop-handle.ord-ne {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 0; }

.jcrop-handle.ord-se {
  bottom: 0;
  margin-bottom: -4px;
  margin-right: -4px;
  right: 0; }

.jcrop-handle.ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -4px;
  margin-left: -4px; }

/* Dragbars */
.jcrop-dragbar.ord-n, .jcrop-dragbar.ord-s {
  height: 7px;
  width: 100%; }

.jcrop-dragbar.ord-e, .jcrop-dragbar.ord-w {
  height: 100%;
  width: 7px; }

.jcrop-dragbar.ord-n {
  margin-top: -4px; }

.jcrop-dragbar.ord-s {
  bottom: 0;
  margin-bottom: -4px; }

.jcrop-dragbar.ord-e {
  margin-right: -4px;
  right: 0; }

.jcrop-dragbar.ord-w {
  margin-left: -4px; }

/* The "jcrop-light" class/extension */
.jcrop-light .jcrop-vline, .jcrop-light .jcrop-hline {
  background: #ffffff;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important; }

.jcrop-light .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  border-color: #ffffff;
  border-radius: 3px; }

/* The "jcrop-dark" class/extension */
.jcrop-dark .jcrop-vline, .jcrop-dark .jcrop-hline {
  background: #000000;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important; }

.jcrop-dark .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 3px; }

/* Simple macro to turn off the antlines */
.solid-line .jcrop-vline, .solid-line .jcrop-hline {
  background: #ffffff; }

/* Fix for twitter bootstrap et al. */
.jcrop-holder img, img.jcrop-preview {
  max-width: none; }

.deutch #wallpapers span, .deutch button[class^="delete_"], .deutch button[class^="edit_"] {
  font-weight: 400; }
.deutch #mainHeader span, .deutch .selectList, .deutch #temp_files #dir_list .selectList, .deutch #temp_files #dir_list li a, .deutch #feed_content #edit_cont h3 a, .deutch #tempMessageCont p, .deutch .headerForm p {
  font-weight: 500 !important; }
