.bookMenu_1,.feedMenu_5{background: $book_browser url(../images/buttons/sites.svg) no-repeat 50% 15% ;}
.bookMenu_2{background:$book_colour url(../images/buttons/colour.svg) no-repeat 50% 15%;}
.bookMenu_3{background:$book_css url(../images/buttons/css.svg) no-repeat 50% 15%;}
.bookMenu_4{background:$book_images url(../images/buttons/picture.svg) no-repeat 50% 15%;}
.bookMenu_5,.feedMenu_3{background:$book_inspiration url(../images/buttons/inspiration.svg) no-repeat 50% 15%;}
.bookMenu_6,.feedMenu_1{background:$book_js url(../images/buttons/javascript.svg) no-repeat 50% 15%;}
.bookMenu_7{background:$book_job url(../images/buttons/work.svg) no-repeat 50% 15%;}
.bookMenu_8{background:$book_learning url(../images/buttons/learning.svg) no-repeat 50% 15%;}
.bookMenu_9{background:$book_prog url(../images/buttons/programming.svg) no-repeat 50% 15%;}
.bookMenu_12, .feedMenu_2{background:$book_texture url(../images/buttons/texture.svg) no-repeat 50% 15%;}
.bookMenu_13, .feedMenu_4{background:$book_type url(../images/buttons/type.svg) no-repeat 50% 15%;}
.bookMenu_14, .feedMenu_6{background:$book_other url(../images/buttons/other.svg) no-repeat 50% 15%;}

#section_bookmarks.noScroll{
	overflow-y: hidden;
}

#section_bookmarks{
	background-color: $book_type;

	#bookmark_menu{
		@media #{$information-phone} {
	  		height: 100%;
		}

		display:flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: flex-start;

		div[class^="bookMenu_"]{
			flex: 1 50%;
			overflow:hidden;
			line-height: 0;
			position: relative;
			background-size: 50%;

			@media #{$information-phone} {
		  		flex: 1 33%;
			}


			&:before{
				content: "";
				display: table;
				padding-top: 100%;
			}

			a{
				text-transform: lowercase;
				font-variant: small-caps;
				text-align:center;
				line-height: 1em;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding-top: 70%;
				color: $buttonColour;
				font-weight: 800;
				transition: 0.6s all ease;

				@media #{$information-screen} {
			  		&:hover{
						background-color: black;
						color: $book_learning;
					}
				}
			}

			div[id^="section_book_"]{
				padding: 0 10px;
				display: none;
				position: absolute;
				top: 8%;
				bottom: 2%;
				left: 4%;
				right: 4%;
				background-color: $chromeColour;
				line-height: 1.3em;
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;

				@media #{$information-phone} {
			  		top: 15%;
					bottom: 5%;
				}

				ul li{
					position: relative;
					width: 100%;
					border-bottom: 1px solid $borderColour;
					padding: 10px 0;

					&:before{
						content: '•';
						margin-right: 4px;
					}

					&:nth-child(5n + 1):before{
						color: $book_browser;
					}
					&:nth-child(5n + 2):before{
						color: $book_colour;
					}
					&:nth-child(5n + 3):before{
						color: $book_css;
					}
					&:nth-child(5n + 4):before{
						color: $book_js;
					}
					&:nth-child(5n):before{
						color: $book_other;
					}

					div{width: 75%; display:inline-block;}
				}

				a{
					position: relative;
					padding: 0;
					font-variant: normal;
					text-align: left;
					text-transform: none;
					font-size: 1em;
					font-weight: 400;
					color: $linkColour;

					
					@media #{$information-screen} {
					  	&:hover{
							background-color: transparent;
							color: black;
						}
					}
				}
			}
		}

		div[class^="bookMenu_"].activeBook{
			flex: 1 100%;
			order: -1;
			background-position: 5px 4px;
			background-size: 12%; 

			@media #{$information-phone} {
		  		height: 90%;
			}

			&:before{ 
				padding-top: 215%;
				@media #{$information-phone} {
			  		padding-top: 0;
				}
			}

			a{
				bottom: 93%;
				padding: 4%;
				font-size: 1.3em;
			}

			div[id^="section_book_"]{
				display:block;
			}
		}
	}	
}

#bookmark_content{
	background-color: $book_prog;
	
	#content{
		-webkit-overflow-scrolling: touch;
	}
	#book_cont_header{
		@media #{$information-phone} {
		  display:none;
		}
		input{width: 40%;}
	}
}

.bookmark_remove{
	opacity: 0;
	transform: translateX(-105%);
	transition: 0.6s all ease;
}


