select{
	display:none;
}

button:disabled{
	opacity: 0.3;
}

button{
	width: $buttonDimensions;
	height: $buttonDimensions;
	border-radius: $buttonDimensions;
	background-color: transparent;
	border: none;
	color: $borderColour;
	position: relative;
	transition: 0.6s all ease;
	transition-property: background-color, opacity;

	@media #{$information-screen} {
  		&:hover{
			background-color: $titleText;
		}
	}
	
}

.activeButton{
	background-color: $titleText !important;
}

.buttonSubmit{
	background-color: $greenColour;
}

button[class^="delete_"].activeButton{
	background-color: $book_texture !important;
	color: $chromeColour;
}

button[class^="edit_"].activeButton{
	background-color: $book_css !important;
	color: $chromeColour;
}

button[class^="delete_"], button[class^="edit_"]{
	width: 15px;
	height: 15px;
	border-radius: 15px;
	position: absolute;
	right: 0;
	font-size: 0.9em;
	line-height: 0.9em;
	font-weight: 600;
	border: 1px solid;
	border-color: $book_texture;
	color: $book_texture;
	text-transform: lowercase;
	font-variant: small-caps;
	top: 12px;
	@media #{$information-screen}{
		&:hover{
			background-color: $book_texture !important;
			color: $chromeColour;
		}
	}
	
}

button[class^="edit_"]{
	right: 20px;
	border-color: $book_css;
	color: $book_css;
	@media #{$information-screen}{
		&:hover{
			background-color: $book_css !important;
			color: $chromeColour;
		}
	}
}

input{
	border: none;
	width: 90%;
	height: 35px;
	padding-left: 10px;
	margin: 10px 0;
	font-size: 1rem;
	background-color: $book_prog;
	font-style: italic;
	transition: all 0.6s ease-in-out;
	
	&:focus{
		outline: none;
		color: $book_learning;
		background-color: $book_css !important;
	}
}

input[type^="file"]{
	padding-top: 8px;
	color: $book_prog;
	text-align:center;
	padding-left: 20%;
}

form{
	width: 100%;
	background-color: $chromeColour;
	position: absolute;
	transition: all 0.6s ease-in-out;
	text-align: center;
	z-index: 1;

	@media #{$information-phone} {
  		z-index: 6;
	}

	.selectList{
		width: 100%;
		height: 35px;
		display:block;
		border-bottom: 1px solid $borderColour;
		font-style: italic;
		font-size: 1rem;
		font-weight: 600;
		color: $titleText !important;
		text-transform: lowercase;
		font-variant: small-caps;
		margin: 5px 0;
		transition: 0.6s color ease;
		line-height: 1.3em;
		overflow: hidden;
		text-overflow: ellipsis;
		@media #{$information-screen}{
			&:hover{
				color: darken($titleText, 50%) !important;
			}
		}
	}

	button[type="submit"], button[name^="cancel_"]{
		margin: 0;
		padding: 0;
		font-style:normal;

		&:after{
			position: absolute;
			bottom: -20px;
			width: 100%;
			left: 0;
			text-transform: lowercase;
			font-variant: small-caps;
			font-weight: 600;
			font-size: 0.8rem;
			color: $buttonColour;
		}
	}

	button[type="submit"]{
		background: $greenColour url('../images/buttons/submitwhite.svg') no-repeat center center;
		margin-right: 30%;
	}

	button[name^="cancel_"]{
		background: $book_texture url('../images/buttons/cancel.svg') no-repeat center center;
	}

	button[type="submit"]:after{
		content: 'submit';
	}

	button[name^="cancel_"]:after{
		content: 'cancel';
	}
}

form[name^='delete']{display:none;}

.headerForm{
	position: absolute;
	width: 180px;
	padding:0px 0px 40px 0px;
	bottom: 26px;
	left: 0;
	transform: translate3d(-180px, 0, 0);
	@media #{$information-phone} {
  		width: 100%;
  		transform: translate3d(-100%, 0, 0);
	}

	p{
		margin: 0px 0 10px 0;
		font-size: 1.1rem;
		border-top: 1px solid $borderColour;
		border-bottom: 1px solid $borderColour;
		padding: 15px 0;
		font-weight: 700;
		text-transform: lowercase;
		font-variant: small-caps;
		color: $linkColour;
		line-height: 0;
	}
}

.displayForm{
	transform: translate3d(0, 0, 0) !important;
	display:block !important;
}

.selectConvert{
	position: fixed;
	width: 38%;
	bottom: 0;
	left: 180px;
	z-index: 100;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;

	@media #{$information-phone} {
	  width: 100%;
	  left: 0;
	  max-height: 100%;
	}

	li{
		flex: 1 25%;
		position: relative;
		border-bottom: 1px solid $borderColour;
		border-right: 1px solid $borderColour;
		transition: 0.2s all ease-in-out;

		&:before{
			content: '';
			display: table;
			padding-top: 100%;
		}
		@media #{$information-screen}{
			&:hover{
				background-color: black;
				a, span{ color: $chromeColour;}
			}
		}

		a{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 20%;
			text-align: center;
			overflow: hidden;
			padding: 5px;
			padding-top: 25%;

			@media #{$information-phone} {
			  padding: 30% 5px;
			}
		}
	}

	li[class^="bookMenu_"], li[class^="feedMenu_"]{
		a{color: $buttonColour; padding-top: 50%; font-size: 0.9em; font-weight: 600;}
	}

	.Identity{
		a{color: $chromeColour;}
		color: $chromeColour;
	}

	span{
		position:absolute;
		top: 80%;
		bottom: 0;
		right: 20%;
		left: 20%;
		border-top: 1px solid $borderColour;
		text-align:center;
		text-transform: lowercase;
		font-variant: small-caps;
		font-size: 0.9em;
	}

}

.selectConvert.largeList{
	width: 90%;
	height: 90%;
	top: 5%;
	left: 5%;

	@media #{$information-phone} {
  		width: 100%;
  		height: 100%;
  		top: 0;
  		left: 0;
	}

	li{
		flex: 1 10%;
		@media #{$information-phone} {
			flex: 1 33%;
		}

		a{
			padding-top: 20%;
			bottom: 20%;
		}
	}

	.searchBar{ 
		width: 100%;

		input{
			width: 100%;
			height: 45px;
			background-color: $chromeColour;
			margin: 0;
			border: 1px solid $borderColour;
		}

		button{
			position: absolute;
			top: 7px;
			right: 10px;
			background: url('../images/buttons/delete.svg') no-repeat center;
			@media #{$information-screen} {
				&:hover{background: $book_texture url('../images/buttons/delete.svg') no-repeat center;}
			}
		}
	}
}

//button images

.add_bookmark{@include btnImg('book.svg')}
.add_file{@include btnImg('file.svg')}
.add_model, .add_file_models{@include btnImg('add.svg')}
.bookmark{@include btnImg('bookmark.svg')}
.mainMenu{@include btnImg('hamburger.svg')}
.search{@include btnImg('search.svg')}
.close, .close_window_temp{@include btnImg('delete.svg')}
.rss{@include btnImg('rss.svg')}
.sortFeeds{@include btnImg('sort.svg')}
.editFeedsBtn, .editProjectFiles{@include btnImg('edit.svg')}
.markFeeds{@include btnImg('submit.svg')}
.move_photo_projects, .move_photo{@include btnImg('move.svg')}
.deselect_checks{@include btnImg('checkbox.svg')}
.image_crop{@include btnImg('crop.svg')}
.file_delete_projects, .picTrash, .file_delete{@include btnImg('trash.svg')}
.prevPic{@include btnImg('leftarrow.svg')}
.nextPic{@include btnImg('rightarrow.svg')}
.fav{@include btnImg('favourite.svg')}
.imageFullWidth{@include btnImg('fullWidth.svg')}
.imageToFit{@include btnImg('fullheight.svg')}
#slideShowButton{@include btnImg('play.svg')}
.shiftWindow{@include btnImg('left.svg')}
.imageOriginal{@include btnImg('originalsize.svg')}

//login form

section.login, section.register{
	background-color: $chromeColour;
	text-align: center;
	width: 50%;
	border-radius: 2px;
	margin: 0 auto;
	@media #{$information-phone} {
		width: 90%;
	}

	h1{padding: 10px 0; border-bottom: 1px solid $borderColour;}
	h2{padding-bottom: 10px; border-bottom: 1px solid $borderColour;}
	form{position: relative;}
	label{display: block; border-bottom: 1px solid $borderColour;}
	input{width: 50%;}
	span{display: inline-block; width: 40%;}
	button{margin: 10px 0 20px 0;}
}
