#loading_and_thumbs{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	display:none;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0,0,0,0.8);

	#shallNotPass{
		display:none;
		width: 20%;
		height: 140px;
		position:absolute;
		left: 40%;
		text-align:center;
		top: 150px;
		border-radius: 2px;
		overflow: hidden;
		background-color: $book_learning;
		transition: 0.3s background-color ease;

		@media #{$information-phone} {
			  width: 50%;
			  left: 25%;
		}

		p{
			margin: 20px 0;
		}

		.progress-button{
			position: relative;
			display: inline-block;
			text-align: center;
			width: 50px;
			height: 50px;
			border-radius: 50px;
			border: 5px solid $book_prog;
			background-color: $book_learning;

			svg{
				position: absolute;
				top: -5px;
				transform: translateX(-50%);
				pointer-events: none;
				stroke-width: 5;
			}

			.progress-circle{
				path{
					animation-play-state: paused;
					animation: progress 3s ease-in-out infinite;
				}
			}
			.cross, .checkmark{
				transition: transform 0.3s ease;
				stroke: $book_texture;
				transform: translateX(-50%) scale(0.0);
			}

			.checkmark{
				stroke: $greenColour;
			}
		}
	}

	#shallNotPass.loading{
		.progress-button{
			.progress-circle{
				path{animation-play-state: running;}
			}
		}	
	}

	#shallNotPass.success{
		background-color: $greenColour;

		.progress-button{
			border: 5px solid transparent;

			.progress-circle{
				display:none;
			}
			.checkmark{
				transform: translateX(-50%) scale(0.4);
			}
		}
	}

	#shallNotPass.error{
		background-color: $book_texture;

		.progress-button{
			border: 5px solid transparent;

			.progress-circle{
				display:none;
			}
			.cross{
				transform: translateX(-50%) scale(0.4);
			}
		}
	}

	#thumbs{
		height: 100%;
		display:none;
	}
}

#crop_container{
	display: table;
	height: 85%;
	width: 85%;
	border-radius: 2px;
	background-color: $chromeColour;
	overflow: hidden;
	margin: 5% 0 0 10%;

	@media #{$information-phone} {
  		height: 100%;
  		width: 100%;
  		border-radius: 0;
  		margin: 0;
	}


	h4{
		width: 100%;
		height: 33px;
		text-align: center;
		padding: 10px 0;
		font-weight: 200;
		position: relative;
		@media #{$information-phone} {
	  		height: auto;
		}
	}	

	.thumbnail_area{
		opacity: 1;
		transition: opacity 0.6s ease;
		display: table-cell;
		width: 40%;
		vertical-align: top;
		@media #{$information-phone} {
	  		width: 30%;
		}

		ul{
			width: calc(100% + 1px);
			height: 100%;
			margin-left: -1px;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			display:flex;
			flex-wrap: wrap;
			padding: 0 1.5px;
			background-color: $linkColour;
			align-content: flex-start;

			li{
				flex: 1 33%;
				position: relative;
				border: 3px solid transparent;
				@media #{$information-phone} {
			  		flex: 1 100%;
				}

				&:before{
					content: '';
					display: table;
					padding-top: 100%;
				}

				a{
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					position: absolute;
					overflow: hidden;

					img{
						min-width: 100%;
						min-height: 100%;
					}
				}
			}
		}
	}
	
	.dim{
		opacity: 0.6 !important;
		pointer-events: none;
	}

	.main_crop_area{
		width: 60%;
		height: 100%;
		border-left: 1px solid $borderColour;
		display:table-cell;
		text-align: center;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		position: relative;
		@media #{$information-phone} {
	  		width: 70%;
		}

		button{
			position: absolute;
			display:none;
			width: 50%;
			border-radius: 0;
			z-index: 500;
			background-color: $chromeColour;
			text-transform: uppercase;
			color: $titleText;
			top: 0;
			left: 0;
			font-size: 0.8em;
			@media #{$information-phone} {
		  		&:hover{
		  			background-color: black;
		  		}
			}
		}

		button#submit_crop{left: 50%; border-left: 1px solid $borderColour;}

		
	}
}

#crop_comparrison{

	width: 50%;
	position: fixed;
	top: 15%;
	left:25%;
	border-radius: 2px;
	background-color: $chromeColour;
	display:none;
	@media #{$information-phone} {
  		width: 100%;
  		top: 10%;
  		left: 0;
  		border-radius: 0;
  		border-top: 5px solid black;
		border-bottom: 5px solid black;
	}	

	div{
		width: 50%;
		text-align:center;
		float: left; 
		@media #{$information-phone}{
			img{width: 100%;} 
		}
	}

	h4{
		margin-bottom: 10px;
	}

	#confirm_thumb, #cancel_thumb{
		width: 50%;
		float: left;
		border-radius: 0;
		text-transform: uppercase;
		color: $titleText;
		font-size: 0.8em;
		margin-top: 20px;
		border-top: 1px solid $borderColour;
		@media #{$information-screen} {
	  		&:hover{
	  			background-color: black;
	  		}
		}
	}

	#cancel_thumb{
		border-right: 1px solid $borderColour;
	}
}

#close_crop{
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 50;
	@include btnImg('delete.svg');
	background-color: #f26d7d;
}

#videoThumbnailselect{
	display:none;
	text-align: center;
	width: 80%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 2px;
	margin-top: 30px;

	@media #{$information-phone}{
		width: 100%;
	}

	#selectVidThumb{
		display:block;
		width: 100%;
		background-color: $book_learning;
		height: 45px;
		padding: 12px 0;
		cursor: pointer;
		transition: background-color 0.6s ease;
		@media #{$information-screen}{
			&:hover{
				background-color: $greenColour;
				color: $book_learning;
			}
		}
		
	}

	&:after{
		visibility: hidden;
	    display: block;
	    font-size: 0;
	    content: " ";
	    clear: both;
	    height: 0;
	}

	text-align:center;

	div{
		width: 20%;
		overflow: hidden;
		float:left;
		position: relative;
		@media #{$information-phone}{
			width: 33.33%;
		}

		&:before{
			content: '';
			display: table;
			padding-top: 100%;
		}

		a{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			&:after{
				content: '';
				display:block;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
				background-color: transparent;
				transition: background-color 0.6s ease;
			}

			img{min-height: 100%; max-width: 120%;}
		}

		.activeTemp{
			&:after{
				background-color: rgba(60, 184, 120, 0.65);
				z-index: 10;
			}
		}
	}
}

@keyframes progress {
   from { stroke-dashoffset: 1000; }
   to   { stroke-dashoffset: 700; }
}





