.deutch{
	#wallpapers span, button[class^="delete_"], button[class^="edit_"]{
		font-weight: 400;
	}

	#mainHeader span, .selectList, #temp_files #dir_list .selectList, #temp_files #dir_list li a, #feed_content #edit_cont h3 a, #tempMessageCont p, .headerForm p{
		font-weight: 500 !important;
	}
}
