//Avenir
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Avenir/AvenirLTStd-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Avenir/AvenirLTStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Avenir/AvenirLTStd-Book.svg#68ae522795537c9085762656931f5f55') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-BookOblique.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-BookOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Avenir/AvenirLTStd-BookOblique.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Avenir/AvenirLTStd-BookOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Avenir/AvenirLTStd-BookOblique.svg#2d92c7089977381e7146422e05fbbf56') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Avenir/AvenirLTStd-Heavy.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Avenir/AvenirLTStd-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Avenir/AvenirLTStd-Heavy.svg#a1eb5a5cfcec2ff7c30fe732daf3b2e8') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-HeavyOblique.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-HeavyOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Avenir/AvenirLTStd-HeavyOblique.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Avenir/AvenirLTStd-HeavyOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Avenir/AvenirLTStd-HeavyOblique.svg#f41fefacdf302de3efb9b2c9861fc114') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Avenir/AvenirLTStd-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Avenir/AvenirLTStd-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Avenir/AvenirLTStd-Light.svg#a3894d49b0c62da6d619d8a85ab36753') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-LightOblique.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-LightOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Avenir/AvenirLTStd-LightOblique.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Avenir/AvenirLTStd-LightOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Avenir/AvenirLTStd-LightOblique.svg#f6864133f6203c14080d854a2e6ba855') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  300;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Avenir/AvenirLTStd-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Avenir/AvenirLTStd-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Avenir/AvenirLTStd-Medium.svg#ef669aafc9b550b465914779447af056') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-MediumOblique.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-MediumOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Avenir/AvenirLTStd-MediumOblique.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Avenir/AvenirLTStd-MediumOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Avenir/AvenirLTStd-MediumOblique.svg#16942b001d1c5a1b77694d27e48bb1ff') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  600;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-Oblique.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-Oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Avenir/AvenirLTStd-Oblique.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Avenir/AvenirLTStd-Oblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Avenir/AvenirLTStd-Oblique.svg#3940793a09c3eddee1217f9201c66bf9') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  500;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirLTStd-Roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Avenir/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Avenir/AvenirLTStd-Roman.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Avenir/AvenirLTStd-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Avenir/AvenirLTStd-Roman.svg#1297092b477b7e1dcddfcf3bbb416185') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}


//Deutch
@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchLightSSiLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchLightSSiLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Deutch/DeutchLightSSiLight.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Deutch/DeutchLightSSiLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Deutch/DeutchLightSSiLight.svg#d6b41e124d256236b809a8e189214402') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchLightSSiLightItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchLightSSiLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Deutch/DeutchLightSSiLightItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Deutch/DeutchLightSSiLightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Deutch/DeutchLightSSiLightItalic.svg#104f7caf5ece0745d6842d6103480ec1') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  300;
}

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchMediumSSiMedium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchMediumSSiMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Deutch/DeutchMediumSSiMedium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Deutch/DeutchMediumSSiMedium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Deutch/DeutchMediumSSiMedium.svg#ea1a530456c0f886a7700965071c9dc4') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchMediumSSiMediumItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchMediumSSiMediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Deutch/DeutchMediumSSiMediumItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Deutch/DeutchMediumSSiMediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Deutch/DeutchMediumSSiMediumItalic.svg#4b00f1cb49dbefa7bf5c3390a7223311') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  500;
}

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchSSi.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchSSi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Deutch/DeutchSSi.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Deutch/DeutchSSi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Deutch/DeutchSSi.svg#07a8feb617024a306a1336be6fe83b9d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchSSiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchSSiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Deutch/DeutchSSiBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Deutch/DeutchSSiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Deutch/DeutchSSiBold.svg#33fd721086c81a0a2b8b685a07cc0be3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchSSiBoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchSSiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Deutch/DeutchSSiBoldItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Deutch/DeutchSSiBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Deutch/DeutchSSiBoldItalic.svg#bcb1dc24e44c2220392dffea1126d3e0') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Deutch';
  src: url('../fonts/Deutch/DeutchSSiItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Deutch/DeutchSSiItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Deutch/DeutchSSiItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Deutch/DeutchSSiItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Deutch/DeutchSSiItalic.svg#6f2c8034f22be3a358f159c320dbbb09') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}