#mainHeader{
	width: 180px;
	background-color: $chromeColour; 
	text-align: center;
	padding: 10px 0px 20px 0px;
	height:$headerHeight;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	transition: transform 0.6s ease;

	@media #{$information-phone} {
	  width: 100%;
	  height: 100%;
	  overflow-y: scroll;
	  margin-top: 33px;
	  padding-bottom: 33px;
	  -webkit-overflow-scrolling: touch;
	}

	div{
		display: block;
		width: 100%;
		margin: 15px 0;
		font-size: 1.3em;

		@media #{$information-phone} {
		  width: 100%;
		  margin: 0;
		  padding: 20px 0;
		}
	}

	#rss a:after{
		content: attr(data-feedCount);
		position: absolute;
		font-size: 0.6em;	
		font-weight: 400;
		background-color: $book_texture;
		border-radius: 5px;
		margin-left: 5px;
		margin-top: 2px;
		padding: 2px;
		color: $book_learning;
	}
	#logout{right: 0; border-left: 1px solid $borderColour;}

	#tempFiles, #logout{
		width:50%;
		bottom:0;
		text-transform: lowercase;
		font-variant: small-caps;
		position: absolute;
		display:block;
		border-top: 1px solid $borderColour;
		padding:4px 2px 2px 2px;
		height: 30px;
		color: #666;
		background-color: $chromeColour;
		transition: background 0.6s ease;
		font-size: 1em;
		font-weight: 700;

		@media #{$information-phone} {
		 	position: relative;
		 	float: left;
		}
		@media #{$information-screen} {
		 	&:hover{
				background-color: #3cb878; 
				color: $chromeColour;
				padding-bottom: 20px;
			}
		}
	}

	#logo{
		display: inline-block;
		position: relative;
		width: 125px;
		margin: 0 auto;
		text-align: center;
		cursor: pointer;
		background: url('../images/logo/design_logo.svg') no-repeat center center;
		background-size: 100%;
		
		@media #{$information-phone} {
		  	width: 30%;
		}

		&:before{
			content: "";
			display: table;
			padding-top: 100%;
		}
	}

	#globalForms{
		margin: 0;
		@media #{$information-phone} {
		  padding: 0;
		}

		div.models{
			border-right: 1px solid $buttonColour;
			border-left: 1px solid $buttonColour;
		}

		div{
			width: 25%;
			display:inline-block;
			line-height: 0;
		}
	}

	@media #{$information-phone} {
		  #stack, #bookmarks{
		  	border-top: 1px solid $borderColour;
		  	border-bottom: 1px solid $borderColour;
		  }
	}
}

@keyframes loading_logo {
	0% { filter: hue-rotate(0deg) blur(0px);}
	50% {filter: hue-rotate(360deg) blur(5px);}
	100% {filter: hue-rotate(0deg) blur(0px);}
}

.logo_animation{
	animation: loading_logo 4s infinite;
}
