div[id*="model_"]{
	display:flex;
	flex-wrap: wrap;
	align-content: flex-start;
	padding: 0.4%;

	.noImgs{
		font-weight: 200;
		background-color: $book_learning;
		border-radius: 2px;
		padding: 3em 1em;


		&:after{
			content: url('../images/buttons/other.svg');
			margin-top: 1em;
			display:block;
		}
	}

	.mdExpand.mdExpand.mdExpand.mdExpand{
		flex: 1 100%;
		height: 20em;

		article{
			max-height: 17em;
		}

		textarea{
			height: 15em;
		}
	}

	.markdown.markdown{
		background-color: $book_learning;
		border-radius: 2px;
		flex: 1 18.75em;
		min-height: 12.5em;

		.md_expand, .md_syntax{
			position: absolute;
			right: 0;
			margin: 1px;
			border-left: 1px solid $borderColour;
			border-radius: 0;
		}

		.md_expand{
			right: 35px;
			background: url("../images/buttons/fullWidth.svg") no-repeat center center;
		}

		.md_syntax > span{
			border: 1px solid $buttonColour;
			border-radius: 20px;
			display: inline-block;
			width: 20px;
			height: 20px;
			padding: 1px;
			color: $buttonColour;
			font-weight: 700;
			font-size: 0.9em;
		}

		.md_syntax.active > span{
			background-color: $chromeColour;
		}

		.md_cancel, .md_submit{
			width: 49%;
			border-radius: 0;
			color: $buttonColour;
		}

		.md_cancel{
			border-right: 1px solid $borderColour;
		}

		.md_title{
			padding: 0.3125em 4.0625em 0.3125em 0.3125em;
			margin-bottom: 0.3125em;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			min-height: 2.125em;
		}

		#noteedit{
			background-color: transparent;
			position: relative;
			min-height: 9.375em;
		}
	}

	div[class^="model"]{
		flex: 1 9.375em;
		margin: 0.3125em;

		@media #{$information-phone} {
	  		flex : 1 50%;
		}

		position: relative;
		text-align: center;

		a{
			overflow:hidden;
			display: block;
			border-radius: 2px;
			max-height: 12.5em;

			&:after{
				content: '';
				display:block;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
				opacity: 0;
				background-color: transparent;
				transition: all 0.6s ease;
				transition-property: background, opacity;
			}
		}
	}
}

#media{
	width: 100%;
	height: 100%;
	overflow:hidden;
	z-index: 100;
	background-color: $linkColour;
	position: fixed;
	display:none;
	top: 0;
	left: 0;
	transition: transform 0.6s ease;


	#mediaControlBar{

		.slideShowOn{
			background-color: $greenColour;
		}

		.mediaClose{
			@media #{$information-phone} {
		  		display:inline-block;
			}
		}

		div{
			display:inline-block; 
			height: ($menuHeight - 5px);
			border-left: 1px solid $borderColour;
			vertical-align:top;
			padding-left: 1%;
			min-width: 18.75em;

			@media #{$information-phone} {
		  		min-width: 0;
		  		padding-left: 0;
			}

		}

		.shiftWindow{
			margin-left: 5px;
			transform: rotate(180deg);
			transition: transform 0.6s ease;
			float: left;
			@media #{$information-phone} {
		  		display:none;
			}
		}

		.shiftWindow.flip{
			transform: rotate(0deg);
		}
	}

	.holder{
		height: calc(100% - 45px);
		width: 100%;
		display:block;
		text-align: center;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		transform: translate3D(0,0,0);

		img{min-height: 100%; max-height: 100%; display:none;} //fit window - default
		img.fullWidth{height: auto; width: 100%; max-height: none; max-width: none; min-height: 0%;}
		img.original{height: auto; width: auto; max-height: none; max-width: none; min-height: 0%;}
		video{
			display:none;
			margin-top:15px; 
			border-radius: 2px; 
			background-color: $book_learning;
			@media #{$information-phone} {
			  	width: 300px;
			  	height: 150px;
			}
		}
	}
}

#media.hide{
	transform: translateX(95%);
}

.add_new_project_guide, .add_images_guide{
	width: 50%;
	float: left;
	padding: 0.625em 0.3125em;

	.noteTxt.noteTxt.noteTxt{
		max-height: none;
		background-color: $chromeColour;
		border-radius: 2px;
		
		@media #{$information-phone} {
			width: 100%;
		}

		p:first-child{
			text-align: center;
			border-bottom: medium double $borderColour;
		}

		img{
			border: none;
			border-bottom: medium double $borderColour;
		}

		.imgOverlay{
			position: absolute;
			top: 0;
			left: 0;
			display: none;
		}

		div{position: relative;}

		.projStepOne{
		}
	}
}

article.noteTxt.noteTxt.noteTxt{
	padding: 0.5em;
	overflow: auto;
	max-height: 10.3125em;
	text-align: left;

	a{
		&:after{content: none;}
		display: inline;
		border-radius: 0;
		max-height: 0;
		border-bottom: 1px dashed $borderColour;
		color: dodgerblue;
	}

	p, h1, h2, h3, h4, h5, h6{
		line-height: 1.5em;
		margin-bottom: 1em;
	}

	ul, ol{
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		-webkit-padding-start: 40px;
	}

	ol{
	    counter-reset: listNumbering;
	}

	ol > li{
	    counter-increment: listNumbering;
	}

	ol > li:before, ul > li:before{
		display: block;
		width: 1.5em;
		height: 1.5em;
		color: #2B2B2B;
		left: -2.5em;
		content: counter(listNumbering,decimal-leading-zero);
		position: absolute;
		font-size: 0.5em;
		border-radius: 1.5em;
		text-align: center;
		line-height: 1.7em;
		font-weight: 600;
	}

	ol > li:before{
		border: 1px solid #2B2B2B;
	}

	li > ol > li:before{
		background-color: #2B2B2B;
		color: white;
	}

	li > ul > li:before{
		background-color: $book_css;
	}

	ul > li:before{
		background-color: $greenColour;
		content: '';
	}

	li{
		display: block;
		margin-bottom: 0.3em;
		position: relative;
	}

	img{
		max-width: 100%;
		border: 0.3125em solid white;
		height: auto;
	}
}

#noteSyntax{
	position: fixed;
	top: $menuHeight;
	left: 0;
	z-index: 10;
	background-color: #D8D8D8;
	width: 15.625em;

	.noteTxt{
		max-height: 25em;
	}
}

