//Basic colours for anything that belongs to this category - a general style but placed here as it refers to Design categories

.Art{background-color: $res_art}
.Animals{background-color: $res_animals}
.Identity{background-color: $res_identity}
.Design{background-color: $res_graphics}
.Packaging{background-color: $res_packing}
.People{background-color: $res_people}
.Places{background-color: $res_places}
.Sites{background-color: $res_sites}
.Things{background-color: $res_things}
.Type{background-color: $res_type}

#section_categories{
	text-align:center;
	width: calc(100% - 180px);

	@media #{$information-phone} {
  		width: 100%;
	}

	#stacks_control{
		z-index: 2;
		ul{
			width: 45%;
			z-index: 5;
			@media #{$information-phone} {
		  		width: 90%;
			}

			li{
				flex: 1 20%;

				a{padding-top: 40%}
			}

			.Identity{
				a{color: $book_learning;}
			}

			.Design{
				&:after{
					content: '';
					display:block;
					position: absolute;
					width: 0; 
					height: 0; 
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid $res_graphics;
					top: -10px;
					left: 35%;
				}
			}

			.Design.active{
				&:after{border-bottom: 10px solid black; z-index: 10;}
			}

		}
	}

	#stacksScrollContainer{
		display:flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.stacked{
		flex: 1 200px;
		position: relative;

		@media #{$information-phone} {
	  		flex:  1 50%;
		}

		&:before{
			content: '';
			display: table;
			padding-top: 100%;
		}

		img{
			width:100%;
			margin-top: -10%;
			min-height: 115%;
		}

		a:first-child{
			display: block;
			top: 0%;
			left: 0%;
			right: 0%;
			position: absolute;
			bottom: 20%;
			overflow: hidden;
			z-index : 1;
		}

		a:nth-child(2){
			position: absolute;
			bottom: 0%;
			top: 80%;
			left: 3%;
			right: 20%;
			color: $linkColour;
			
			@media #{$information-screen} {
		  		&:hover{
					h3{
						border-bottom: 1px solid $linkColour;
					}
				}
			}
			

			h3{
				font-weight: 400;
				font-size: 1em;
				padding: 8% 0 3% 0%;
				position: relative;
				overflow:hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				text-align: left;
				width: 100%;
				border-bottom: 1px solid transparent;
				transition: 0.6s border ease;

				@media #{$information-phone} {
				  font-size: 0.9em;
				  padding: 10px 0;
				}
			}
		}

		button[class^="delete_"], button[class^="edit_"]{
			top: 86%;
			right: 2%;
			background-color: $chromeColour;
		}

		button[class^="edit_"]{
			right: 12%;
		}

		//messes up button if one removes the tagName
		form.edit_model{
			position: absolute;
			z-index: 10;
			top: -10px;
			height: 100%;
			background-color: white;

			input{width: 80%};
		}
	}

	.stacked.Identity{
		a{color: $chromeColour;}
	}
}

#section_cat_content{
	display: none;
	background-color: $linkColour;
	header{
		@media #{$information-phone} {
			.add_file_models, .close, span{
				display:none;
			}
			top: 33px;
		}
		z-index: 20;
		form{
			width: 25%;
			padding-bottom: 20px;
			left: 16%;
			transform: translateY(-200px);

			input{
				height: 40px;
				margin: 10px;
				padding-left: 28%;
				width: 90%;
			}

			&:before{
				content: '';
				display: block;
				position: absolute;
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid $chromeColour;
				top: -10px;
				left: 45%; 
			}
		}

		#move_photo_projects{
			left: 56%;

			@media #{$information-phone} {
		  		width: 50%;
		  		left: 30%;
			}
		}

		form.show{transform: translateY(15px);}
	}
}

