//moved outside of nested styles as it will be used for projects edit mode
.activeTemp{
	&:after{
		background-color: $greenColour !important;
		opacity: 0.8 !important;
	}
}

#temp_files{
	width: calc(100% - 180px);
	height: 100%;
	overflow: hidden;
	margin-left: 180px;

	@media #{$information-phone} {
	  	width: 100%;
		margin: 0;
		z-index: 10;
		position: fixed;
		top: 0;
	}

	#tempFilesContainer{
		display:flex;
		width: 100;
		height: 100%;
		@media #{$information-phone} {
		  flex-direction: column;
		}
	}

	#file_list{
		flex: 2;
		display:flex;
		flex-wrap: wrap;
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
		transform: translate3D(0,0,0);
		align-content: flex-start;
		//Replacement image for files that are not images
		span{
			background-color: $book_texture;
			width: 100%;
			height: 100%;
			display:block;
			padding: 10px;
			line-height: 1.4em;
			font-weight: 600;
			color: $book_learning;
		}

		//div is used for folders without images within
		div{
			flex: 1;
		}
		//seperate from above span style because it's for folder with no files in and tends to be much larger
		div span{
			font-weight: 800;
			font-size: 3em;
			padding: 20% 0;
			text-align: center;
		}

		//flex basis used to specify minimum width but flex allows the li to grow (e.g. four boxes will be 25% but a row of two boxes will be 50%)
		li{
			position: relative;
			line-height: 0;
			flex: 1 33%;
			@media #{$information-phone} {
			  	flex: 1 25%;
			}
			//makes the li a square - crucial!
			&:before{
				content: "";
				display: block;
				padding-top: 100%; 	/* initial ratio of 1:1*/
			}

			a{
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				overflow: hidden;
				//this is the highlight when clicking a link overlaying the image beneath
				&:after{
					content: '';
					display:block;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					position: absolute;
					opacity: 0;
					background-color: transparent;
					transition: all 0.6s ease;
					transition-property: background, opacity;
				}

				img{
					width: 100%;
					min-height: 125%;
				}
			}

			//colour array - must look into better ways to do this
			&:nth-child(5n + 2) > a > span{background-color:$titleText;}
			&:nth-child(5n + 3) > a > span{background-color:$book_colour;}
			&:nth-child(5n + 4) > a > span{background-color:$book_css;}
			&:nth-child(5n + 5) > a > span{background-color:$book_job;}
		}
	}

	#display_panel{
		flex: 3;
		background-color: $book_learning;
		overflow-y: scroll;

		@media #{$information-phone} {
			flex: 5;
			border-top: 5px solid black;
		}

		img{width: 100%;}

		#tempMessageCont{

			text-align:center;

			div{
				@include btnImg('stacks.svg');
				background-size: 50%;
				height: 250px;
				margin-top: 100px;
				@media #{$information-phone} {
					height: 150px;
					margin-top: 0;
				}
			}

			p{
				font-weight: 600;
				font-size: 1.2em;
				color: #444;
				display:inline;
				padding-top: 15px;
				border-top: 1px solid $borderColour;
				@media #{$information-phone} {
					font-size: 1em;
				}
			}
		}
	}

	#dir_list{
		text-align: right;
		height: $menuHeight;
		background-color: $chromeColour;

		li{
			width: $menuHeight;
			height: $menuHeight;
			position: relative;
			line-height: 0;

			@media #{$information-phone} {
			  width: 40px;
			}

			a{
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				overflow: hidden;	
				font-size: 0.7em;
				font-weight: 600;
				color: #666;
				text-align: center;
				white-space: nowrap;
				text-overflow: ellipsis;
				padding: 2px;

				@media #{$information-phone} {
				  margin-top: -7px;
				  font-size: 0.6em;
				}
				@media #{$information-screen} {
				  	&:hover{
						color: $chromeColour;
						background-color: $greenColour;
						svg{
							path{fill:$chromeColour;}
						}
					}
				}	
			}
		}
		//all other elements in ul have a set width. Flex is set on this one to fill remaining space and pushes the last three list items to the right without floats or aligns!
		.selectListContainer{
			height: $menuHeight;
			position:relative;
			display:inline-block;
			text-align:right;
			padding: 12px 20px 0 0;
			border-right: 1px solid $borderColour;
			overflow:hidden;
			min-width: 160px;

			.selectList{
			text-transform: lowercase;
			font-variant: small-caps;
			font-weight: 700;
			font-style: italic;
			font-size: 1em;
			color: $titleText;
			cursor: pointer;
				@media #{$information-screen} {
				  	&:hover{
						color: darken(#0ba9d6, 20%);
					}
				}
				
			}
		}

		li:nth-last-child(1), li:nth-last-child(2), li:nth-last-child(3){
			button{
				border-radius: 0;
				width: $menuHeight;
				height: $menuHeight;

				@media #{$information-phone} {
				  	width: 40px;
				}
			}
		}
		//Close buttons should ALWAYS have a salmon/red transition
		li:nth-last-child(1){
			button{
				@media #{$information-screen}{
					&:hover{
						background-color: $book_texture;
					}
				}
			}
		}
	}
}