$linkColour: #444;
$chromeColour: white;
$greenColour: #39B878;
$borderColour: silver;
$buttonColour: #555555;
$headerHeight: 100%;
$whiteOverlay: rgba(255,255,255,0.65);
$titleText: cornflowerblue;
$buttonDimensions: 33px;
$information-phone: "only screen and (max-width : 31.25em)";
//target non-phone for hovers or additional effects
$information-screen: "only screen and (min-width : 31.25em)";
$menuHeight: 45px;

//Colours
//Bookmark Categories
$book_browser : $titleText;
$book_colour : hotpink;
$book_css : darkslategray;
$book_images : coral;
$book_inspiration : lightgoldenrodyellow;
$book_js : $greenColour;
$book_job : sienna;
$book_learning : ghostwhite;
$book_prog : gainsboro;
$book_texture : salmon;
$book_type : mintcream;
$book_other : yellow;
//Feed Categories
$feed_architecture : $book_js;
$feed_design : $book_texture;
$feed_inspiration : $book_inspiration;
$feed_type : $book_type;
$feed_web : $book_browser;
$feed_other : $book_other;
//Research Categories
$res_art : $book_js;
$res_animals : $book_colour;
$res_identity : $book_css;
$res_graphics : $book_images;
$res_packing : $book_texture;
$res_people : $book_inspiration;
$res_places : $book_learning;
$res_sites : $book_browser;
$res_things : $book_prog;
$res_type : $book_type;

//Mixins
@mixin btnImg($name){
    background: url('../images/buttons/#{$name}') no-repeat center center;
}

@charset "UTF-8";
@import "reset2";
@import "fonts";
@import "basicstyles";
@import "buttonsandforms";
@import "header";
@import "bookmarks";
@import "feeds";
@import "stacks";
@import "models";
@import "crop";
@import "temp";
@import "jcrop";
@import "fontVariations";


